<h1>대시보드</h1>
<h2>{{team_name}}</h2>

<!--CPU  |  MEMORY  |  DISK-->
<div class="container-fluid dash-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>CPU</h3>
                    <div class="col-sm-6">
                        <canvas id="cpu_chart" height="250"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <div><span class="cpu-color">{{cpu_use_per}}</span>%</div>
                        <div>사용중</div>
                        <div><span class="cpu-color">{{cpu_use_cnt}}</span>/{{cpu_tot_cnt}}&nbsp;CORE</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>MEMORY</h3>
                    <div class="col-sm-6">
                        <canvas id="mem_chart" height="250"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <div><span class="memo-color">{{mem_use_per}}</span>%</div>
                        <div>사용중</div>
                        <div><span class="memo-color">{{mem_use_cnt}}</span>/{{mem_tot_cnt}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>DISK</h3>
                    <div class="col-sm-6">
                        <canvas id="disk_chart" height="250"></canvas>
                    </div>
                    <div class="col-sm-6">
                        <div><span class="disk-color">{{disk_use_per}}</span>%</div>
                        <div>사용중</div>
                        <div><span class="disk-color">{{disk_use_cnt}}</span>/{{disk_tot_cnt}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!--class="row" -->
</div>  <!-- container-body  -->


<!--가상머신 개수  |  하이퍼바이저 종류  |  컨테이너 개수-->
<div class="container-fluid dash-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>가상머신 개수</h3>
                    <div class="col-sm-6">
                        <canvas id="status_chart" height="250"></canvas>
                    </div>
                    <div class="col-sm-6 gn-dash-vm-right">
                        <div><span class="vm-color">{{tot_cnt}}</span>개</div>
                        <div>전체</div>

                        <ul class="vm-play">
                            <li class="vm-box"></li>
                            <li>실행중</li>
                            <li class="on-color">{{run_cnt}}개</li>
                        </ul>
                        <ul class="vm-stop">
                            <li class="vm-box"></li>
                            <li>정지중</li>
                            <li class="vm-color">{{stop_cnt}}개</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>하이퍼 바이저 종류</h3>
                    <div class="col-sm-6">
                        <canvas id="type_chart" height="250"></canvas>
                    </div>
                    <div class="col-sm-6 gn-dash-hyp-right">
                        <ul>
                            <li class="hyp-color">Hyper-V</li>
                            <li>{{hyperv_cnt}}개(<span>{{hyperv_per}}</span>%)</li>
                        </ul>
                        <ul>
                            <li class="memo-color">KVM</li>
                            <li>{{kvm_cnt}}개(<span>{{kvm_per}}</span>%)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>컨테이너 개수</h3>
                    <div class="col-sm-12 dash-box-6">
                        <img src="/gn_images/dash-container-icon.png" alt="">
                        <div>{{docker_cnt}}개</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container-body   -->


<!--사용자별 가상머신 수  |  가상머신 종류  |  총 사용자 수-->
<div class="container-fluid dash-body">
    <div class="row">
        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>사용자별 가상머신 수</h3>

                    <div class="table-responsive gn-table-responsive">
                        <table class="table table-striped table-dash">
                            <thead>
                            <tr>
                                <th class="">이름</th>
                                <th class="">아이디</th>
                                <th class="">개수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in user_list">
                                <td>{{list.user_name}}</td>
                                <td>{{list.user_id}}</td>
                                <td>{{list.cnt}}개</td>
                            </tr>

                            </tbody>
                        </table>
                    </div> <!--class="table-responsive"  -->

                </div> <!--class="dash-margin-box"-->
            </div>  <!--class="gn-box"-->
        </div> <!--class="gn-box"-->


        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>가상머신 종류</h3>

                    <div class="table-responsive gn-table-responsive">
                        <table class="table table-striped table-dash">
                            <thead>
                            <tr>
                                <th class="">이름</th>
                                <th class="">개수</th>
                            </tr>
                            </thead>
                            <tbody class="gn-tdody">
                            <tr ng-repeat="list in image_type_list">
                                <td>{{list.name}}</td>
                                <td>{{list.cnt}}개</td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsive"  -->
                </div> <!--class="dash-margin-box"-->
            </div>  <!--class="gn-box"-->
        </div> <!--class="col-sm-4"-->

        <div class="col-sm-4">
            <div class="gn-box">
                <div class="dash-margin-box">
                    <h3>사용자 </h3>
                    <div class="col-sm-12 dash-box-6">
                        <img src="/gn_images/dash-total-user.png" alt="총 사용자 수">
                        <div><span ng-bind="team_user_count"></span>명</div>
                    </div>
                </div>
            </div>  <!--class="gn-box"-->
        </div> <!--class="col-sm-4"-->

        <!-- 대시보드 헬스체크 -->
        <div class="container-fluid dash-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="gn-box">
                        <div class="dash-margin-box">
                            <h3>시스템상태</h3>

                            <div class="table-responsive gn-table-responsive">
                                <table class="table gn-health-check">
                                    <thead>
                                    <tr>
                                        <th class=""></th>
                                        <th class=""></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <div class="">
                                                <span class="gn-dot-play"></span>
                                                <span>Master</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="">
                                                <span class="gn-dot-play"></span>
                                                <span>Scheduler</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="list in cluster_list">
                                        <td class="col-sm-4">
                                            <div class=" ">
                                                <span class="gn-dot-play"></span>
                                                <span>{{list.cluster_info.type}}</span>
                                                <p class="gn-write">{{list.cluster_info.ip}}</p>
                                            </div>
                                        </td>
                                        <td class="col-sm-4">
                                            <ul>
                                                <li ng-repeat="host in list.host_list">
                                                    <span class="gn-dot-play"></span>
                                                    <span>Host-{{$index+1}}</span>
                                                    <p class="gn-write">{{host.host_ip}}</p>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div> <!--class="table-responsive gn-table-responsive"  -->

                        </div> <!--class="dash-margin-box"-->
                    </div>  <!--class="gn-box"-->
                </div> <!--class="gn-box"-->

</div> <!--class="row"-->
</div> <!-- class="container-fluid dash-body"  -->



