<h1>설정</h1>

<!--왼쪽 메뉴-->
<ul class="nav nav-pills gn-left-menu col-xs-2">
    <li class="left-title">개인</li>
    <li class="active"><a data-toggle="pill" ng-click="click('profile')">프로필</a></li>
    <li class=""><a data-toggle="pill" ng-click="click('key-sett')">키 관리</a></li>

    <li class="left-title gn-top">팀</li>
    <li class=""><a data-toggle="pill" ng-click="click('profile-team')">프로필</a></li>
    <li class=""><a data-toggle="pill" ng-click="click('team-reso')">리소스</a></li>
    <li class=""><a data-toggle="pill" ng-click="click('team-group')">팀원</a></li>
</ul>

<div class="tab-content col-xs-10">
    <!--프로필-->
    <div id="profile" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>{{te_list.user_name}}</h2>
                    <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#myModal">수정</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">프로필 수정</h4>
                                </div>

                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal" name="meForm" ng-submit="submitForm(meForm.$valid)" novalidate>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">이름</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{te_list.user_name}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">아이디</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{te_list.user_id}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">현재 비밀번호</label>
                                            <div class="col-sm-8">
                                                <input type="password" class="form-control gn-form-control" name="password" ng-model="data.password" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">새 비밀번호</label>
                                            <div class="col-sm-offset-1 col-sm-8" ng-class="{ 'has-error' : meForm.password_new.$invalid && !meForm.password_new.$pristine }">
                                                <input type="password" class="form-control gn-form-control" name="password_new" ng-model="data.password_new" placeholder="Password" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}/">
                                                <p ng-show="meForm.password_new.$invalid && !meForm.password_new.$pristine" class="help-block">6~15자리의 특수문자와 대문자를 합께 조합해 주세요.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">새 비밀번호 확인</label>
                                            <div class="col-sm-8" ng-class="{ 'has-error' : meForm.password_ret.$invalid && !meForm.password_ret.$pristine }">
                                                <input type="password" class="form-control gn-form-control" name="password_ret" ng-model="data.password_ret" placeholder="Password" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,15}/">
                                                <p ng-show="meForm.password_ret.$invalid && !meForm.password_ret.$pristine" class="help-block">비밀번호가 일치 하지 않습니다.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">연락처</label>
                                            <div class="col-sm-8" ng-class="{ 'has-error' : meForm.tel.$invalid && !meForm.tel.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="tel" ng-model="data.tel" placeholder="{{te_list.tel}}" ng-pattern="/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}$/">
                                                <p ng-show="meForm.tel.$invalid && !meForm.tel.$pristine" class="help-block"> - 을 포함한 10자리 숫자를 입력하세요.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">이메일</label>
                                            <div class="col-sm-8" ng-class="{ 'has-error' : meForm.email.$invalid && !meForm.email.$pristine }">
                                                <input type="email" class="form-control gn-form-control" name="email" ng-model="data.email" placeholder="{{te_list.email}}" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/">
                                                <p ng-show="meForm.email.$invalid && !meForm.email.$pristine" class="help-block">이메일 형식으로 넣어주세요.</p>
                                            </div>
                                        </div>
                                    </form>

                                </div> <!--modal-body-->
                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-click="submit()" ng-disabled="meForm.$invalid">저장</button>
                                </div>
                            </div> <!--class="modal-content"-->
                        </div> <!--class="modal-dialog modal-sm"-->
                    </div> <!--class="modal fade" id="myModal" role="dialog" -->
                </div>

                <div class="container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label gn-control-label">아이디</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{te_list.user_id}}</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">연락처</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{te_list.tel}}</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">이메일</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{te_list.email}}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!--class="gn-sett-margin-box" 사용자 이름-->
        </div>  <!--class="gn-box profile-user"-->

    </div> <!--id="profile" class="tab-pane fade in active"-->

    <!--SSH 키 관리-->
    <div id="key-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>SSH Keys</h2>
                    <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#modi">등록</button>

                    <!-- SSH Modal -->
                    <div class="modal fade" id="modi" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">SSH 키 등록</h4>
                                </div>
                                <div class="modal-body gn-modal-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control gn-form-control" ng-model="data.name" id="sshkey_name" placeholder="key 입력">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" ng-click="sshkey_save()" data-dismiss="modal">생성</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--class="container-fluid" -->

                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th class="col-sm-11">이름</th>
                                <th class="col-sm-1"></th>
                            </tr>
                            </thead>
                            <tbody class="gn-tdody">
                            <tr ng-repeat="data in data_list">
                                <td>{{data.name}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a ng-click="download(data.id)">키 내려받기</a></li>
                                        <li><a ng-click="sshkey_delete(data.id,$index)">삭제</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsiv"-->
                </div>
            </div>
        </div>
    </div> <!--id="key-sett" class="tab-pane fade"-->



    <!--팀 > 리소스-->
    <div id="team-reso"  >
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>리소스</h2>

                    <!--팀 그래프-->
                    <div class="row">
                        <ul class="col-sm-4 gn-sett-graph">
                            <li>CPU</li>
                            <li><canvas id="cpu_chart" height="150"></canvas></li>
                            <li class="cpu-color"><span id="cpu_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="cpu_use_cnt"></span> / <span id="cpu_total_cnt"></span> CORE</li>
                        </ul>

                        <ul class="col-sm-4 gn-sett-graph">
                            <li>MEMORY</li>
                            <li><canvas id="memory_chart" height="150"></canvas></li>
                            <li class="memo-color"><span id="mem_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="mem_use_cnt"></span> / <span id="mem_total_cnt"></span></li>
                        </ul>

                        <ul class="col-sm-4 gn-sett-graph">
                            <li>DISK</li>
                            <li><canvas id="disk_chart" height="150"></canvas></li>
                            <li class="disk-color"><span id="disk_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="disk_use_cnt"></span> / <span id="disk_total_cnt"></span></li>
                        </ul>
                    </div><!-- class="team-graph clearfix" -->
                </div> <!--<div class="container-fluid">-->
            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade" 팀 > 리소스-->

    <!--팀 > 팀원-->
    <div id="team-group"  class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>{{teamname.team_name}}</h2>

                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>등급</th>
                                <th>이름</th>
                                <th>아이디</th>
                                <th>연락처</th>
                                <th>이메일</th>
                                <th>신청일</th>
                                <th>승인일</th>
                                <!-----여기서부터 팀장 로그인 시 보이는 영역----->
                                <th>탈퇴일</th>
                                <th>상태<div class="refresh" ng-click="refresh()"></div></th>
                                <th><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="won in won_list" ng-class="{'tr-on-me': user_id == won.user_id, 'tr-on-wait':won.team_check =='N'}">
                                <td class="">{{$index+1}}</td>
                                <td class="">{{won.team_owner}}</td>
                                <td class="">{{won.user_name}}</td>
                                <td class="" ng-model="data.user_id">{{won.user_id}}</td>
                                <td class="">{{won.tel}}</td>
                                <td class="">{{won.email}}</td>
                                <td class=""><p data-toggle="tooltip" title="{{won.apply_date}}" tooltip>{{won.create_time_diff}}</p></td>
                                <td class=""><p data-toggle="tooltip" title="{{won.approve_date}}" tooltip>{{won.create_time_diff1}}</p></td>
                                <!--------------------------여기서부터 팀장 로그인 시 보이는 영역--------------------------------->
                                <td class=""><p data-toggle="tooltip" title="2016-11-29 13:45:11">-</p></td>
                                <td class="">{{won.comf}}</td>
                                <td class="dropdown" ng-show="authority == 'owner' ">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu" >
                                        <li ng-repeat="ac in actions"><a href ng-click="update(won.user_id, won.team_code, ac)">{{ac.name}}</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <!--<tr class="tr-on-me"> &lt;!&ndash;class="tr-on-me" 로그인 한 사람이 나일 때&ndash;&gt;-->
                            <!--<td class="td-style cnt">2</td>-->
                            <!--<td class="td-style cnt">팀원</td>-->
                            <!--<td class="td-style cnt">홍길동<br><span>(you)</span></td>-->
                            <!--<td class="td-style cnt">홍대리</td>-->
                            <!--<td class="td-style cnt">010-1234-5678</td>-->
                            <!--<td class="td-style cnt">1234@naver.com</td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">6일전</p></td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">6일전</p></td>-->
                            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;여기서부터 팀장 로그인 시 보이는 영역-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">-</p></td>-->
                            <!--<td class="td-style cnt">승인</td>-->
                            <!--<td class="td-style cnt dropdown td-more">-->
                            <!--<div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                            <!--더보기-->
                            <!--<span class="caret" ></span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;더보기>드롭다운&ndash;&gt;-->
                            <!--<ul class="dropdown-menu-table" role="menu">-->
                            <!--<li><a href="#">승인</a></li>-->
                            <!--<li><a href="#">등급 변경</a></li>-->
                            <!--<li><a href="#">비밀번호 초기화</a></li>-->
                            <!--<li><a href="#" class="btn-modal-delete">팀 탈퇴</a></li>-->
                            <!--</ul>-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--<tr class="tr-on-wait"> &lt;!&ndash;class="tr-on-road" 대기상태인 경우&ndash;&gt;-->
                            <!--<td class="td-style cnt">1</td>-->
                            <!--<td class="td-style cnt">팀원</td>-->
                            <!--<td class="td-style cnt">김나리</td>-->
                            <!--<td class="td-style cnt">나리김</td>-->
                            <!--<td class="td-style cnt">010-9857-2222</td>-->
                            <!--<td class="td-style cnt">-</td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">오늘</p></td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">오늘</p></td>-->
                            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;여기서부터 팀장 로그인 시 보이는 영역-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">-</p></td>-->
                            <!--<td class="td-style cnt">대기</td>-->
                            <!--<td class="td-style cnt dropdown td-more">-->
                            <!--<div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                            <!--더보기-->
                            <!--<span class="caret" ></span>-->
                            <!--</div>-->
                            <!--&lt;!&ndash;더보기>드롭다운&ndash;&gt;-->
                            <!--<ul class="dropdown-menu-table" role="menu">-->
                            <!--&lt;!&ndash;<li class="dropdown-header">더보기</li> 삭제합니다&ndash;&gt;-->
                            <!--<li><a href="#">승인</a></li>-->
                            <!--<li><a href="#">등급 변경</a></li>-->
                            <!--<li><a href="#">비밀번호 초기화</a></li>-->
                            <!--<li><a href="#" class="btn-modal-delete">팀 탈퇴</a></li>-->
                            </tbody>
                        </table>
                    </div> <!--class="table-responsiv"-->
                </div>
            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->
    <!--팀 > 프로필-->
    <div id="profile-team"  class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>{{teamname.team_name}}</h2>
                    <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#modal-modi" ng-show="authority == 'owner' ">수정</button>

                    <!-- 팀 Modal -->
                    <div class="modal fade" id="modal-modi" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">팀 수정</h4>
                                </div>
                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">팀 코드</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{teamname.team_code}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">팀명</label>
                                            <div class="col-sm-9" ng-class="{ 'has-error' : userForm.team_name.$invalid && !userForm.team_name.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="team_name" ng-model="data.team_name" placeholder="{{teamname.team_name}}" ng-pattern="/^[가-힣0-9]+$/" required>
                                                <p ng-show="userForm.team_name.$invalid && !userForm.team_name.$pristine" class="help-block">한글과 숫자만 사용할수 있습니다.</p>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" ng-click="change()" data-dismiss="modal" ng-disabled="userForm.$invalid">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--<div class="container-fluid">-->

                <div class="container-fluid">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label gn-control-label">팀 코드</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{teamname.team_code}}</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">팀장</label>
                            <ul class="col-sm-10">
                                <li class="fons-16 ng-binding ng-scope" ng-repeat="team in team_list">{{team.user_id}}</li>
                            </ul>
                            <label class="col-sm-2 control-label gn-control-label">팀 생성일</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{teamname.create_date}}</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">총원</label>
                            <div class="col-sm-10" ng-repeat="won in won_list">
                                <p class="form-control-static">{{won.total}}명</p>
                            </div>
                        </div>
                    </form>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

</div> <!--class="tab-content right-box fl" -->

