
<!-- --------- 팀 생성 페이지 ---------- -->
<div class="log-body-white">
    <div class="container log">
        <a class="logo-a">
            <h1 class="log-logo">지앤클라우드 프라이빗</h1>
            <img src="/gn_images/private_login_img.png" alt="지앤클라우드 프라이빗">
        </a>

        <div class="col-xs-4 col-xs-offset-4 login-box">
            <h2 class="log-h2">팀 만들기</h2>
            <input type="text" class="inp-login" ng-model="data.team_name" placeholder="팀명을 입력해주세요.">
            <input type="text" class="inp-login" ng-model="data.team_code" placeholder="팀 코드를 입력해주세요.">

            <button type="submit" class="btn btn-info btn-block marg-20" ng-click="submit()">팀 만들기</button>
        </div> <!--class="login-box"-->
    </div> <!-- 팀 생성 container -->
</div> <!--class="log-body"-->
<!-- --------- 팀 생성 container ----------END -->