<h1>설정</h1>

<!--왼쪽 메뉴-->
<ul class="nav nav-pills gn-left-menu col-xs-12 col-sm-2">
    <li class="left-title">시스템</li>
    <li><a data-toggle="pill" href="#/guestSystemList">프로필</a></li>
    <li><a data-toggle="pill" href="#/guestTeamList">팀 관리</a></li>
    <li class="active"><a data-toggle="pill" href="#/guestCluster">클러스터 관리</a></li>
    <li><a data-toggle="pill" href="#/guestImage">이미지 관리</a></li>
    <li><a data-toggle="pill" href="#/guestPrice">리소스 단위 관리</a></li>
    <li><a data-toggle="pill" href="#/guestLoginHist">로그인 이력 조회</a></li>
    <li><a data-toggle="pill" href="#/guestSetting">설정</a></li>
</ul>

<!--오른쪽 메뉴-->
<div class="tab-content col-xs-12 col-sm-10">
<!--시스템 > 클러스터 관리-->
    <div id="cluster-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>클러스터 관리</h2>
                    <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" ng-show="registYn == 'Y'" data-target="#cluster" ng-click="clear()" >등록</button>

                    <!-- 클러스터 Modal -->
                    <div class="modal fade" id="cluster" role="dialog">
                        <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">클러스터 등록</h4>
                                </div>

                                <div class="modal-body gn-modal-body">

                                    <form name="clusterForm" id="clusterForm" class="form-horizontal"  ng-submit="submitForm(clusterForm.$valid)">
                                        <div class="form-group" ng-show="cluster.id == null">
                                            <label class="col-sm-3 control-label gn-control-label">타입</label>
                                            <div class="col-sm-9"  ng-class="{ 'has-error' : clusterForm.type.$invalid && !clusterForm.type.$pristine }">

                                                <label class="radio-inline mod-input-name" ng-repeat="list in cluster_type_list" ng-if="list.viewYn == 'Y'">
                                                    <input type="radio" name="type" ng-model="list.type" value="{{list.type}}">{{list.name}}
                                                </label>
                                                <p ng-show="clusterForm.type.$invalid && !clusterForm.type.$pristine" class="help-block">type를 입력하세요.</p>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">엔드 포인트 IP</label>
                                            <div class="col-sm-9" ng-class="{ 'has-error' : clusterForm.ip.$invalid && !clusterForm.ip.$pristine }">
                                                <input type="text" class="form-control" name="ip" placeholder="192.168.0.3" ng-model="cluster.ip" required>
                                                <p ng-show="clusterForm.ip.$invalid && !clusterForm.ip.$pristine" class="help-block">ip를 입력하세요.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">엔드 포인트 <br/>PORT</label>
                                            <div class="col-sm-9"  ng-class="{ 'has-error' : clusterForm.port.$invalid && !clusterForm.port.$pristine }">
                                                <input type="text" class="form-control" name="port" placeholder="9090" ng-model="cluster.port" required>
                                                <p ng-show="clusterForm.port.$invalid && !clusterForm.port.$pristine" class="help-block">포트를 입력하세요.</p>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="cluster.id != null">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">
                                                노드 리스트
                                                <button type="button" id="add_btn" ng-click="add_node()">추가</button>
                                            </label>
                                            <div class="col-sm-9">
                                                <span ng-repeat="gnHostMachine in cluster.gnHostMachines">{{gnHostMachine.ip}}
                                                    <a href ng-click="deleteNode(gnHostMachine.id)"><img src="/gn_images/delete.png" width="14"></a><br/>
                                                </span>
                                            </div>
                                        </div>


                                        <div id="input_host" style="display:none;">
                                            <dl class="dl-horizontal gn-description-node">
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-3 control-label gn-control-label">IP</label>
                                                    <div class="col-sm-6" ng-class="{ 'has-error' : clusterForm.mem.$invalid && !clusterForm.mem.$pristine }">
                                                        <input type="text" name="ip" id="ip" class="form-control gn-form-control" placeholder="192.168.1.100" ng-model="host.ip">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-3 control-label gn-control-label">CPU</label>
                                                    <div class="col-sm-6" ng-class="{ 'has-error' : clusterForm.mem.$invalid && !clusterForm.mem.$pristine }">
                                                        <input type="text" name="cpu" id="cpu" class="form-control gn-form-control" placeholder="1" ng-model="host.cpu">
                                                    </div>
                                                    <span>
                                                        CORE
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-3 control-label gn-control-label">Memory</label>
                                                    <div class="col-sm-6" ng-class="{ 'has-error' : clusterForm.mem.$invalid && !clusterForm.mem.$pristine }">
                                                        <input type="text" id="mem" class="form-control gn-form-control" placeholder="2" ng-model="host.mem">
                                                    </div>
                                                     <span>
                                                        <select class="gn-select gn-form-control col-sm-2" name="mem_size" ng-model="memsize" ng-options="mem.name for mem in mem" ng-change="sizemem(memsize)">
                                                            <option value="">선택</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-3 control-label gn-control-label">Disk</label>
                                                    <div class="col-sm-6" ng-class="{ 'has-error' : clusterForm.mem.$invalid && !clusterForm.mem.$pristine }">
                                                        <input type="text" id="disk" class="form-control gn-form-control" placeholder="10" ng-model="host.disk">
                                                    </div>
                                                    <select class="gn-select gn-form-control col-sm-2" name="disk_size" ng-model="disksize" ng-options="disk.name for disk in disk" ng-change="sizedisk(disksize)">
                                                        <option value="">선택</option>
                                                    </select>
                                                </div>
                                                <p align="right">
                                                    <button type="submit" style="width:50;" ng-click="saveHost()">저장</button>
                                                </p>
                                            </dl>

                                        </div>

                                </div>

                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-disabled="clusterForm.$invalid" ng-click="saveCluster()">저장</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>  <!--class="modal fade" id="cluster"-->

                    <!-- 클러스터 노드 추가 Modal -->
                    <div class="modal fade" id="cluster-more" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">노드 추가</h4>
                                </div>

                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal" name="hostForm">
                                        <dl class="dl-horizontal gn-description-node">
                                            <dt class="">CPU</dt>
                                            <dd><input type="text" name="cpu" class="form-control gn-form-control" placeholder="-" ng-model="host.cpu" required></dd>
                                            <dt class="">MEMORY(GB)</dt>
                                            <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.mem" required></dd>
                                            <dt class="">DISK(GB)</dt>
                                            <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.disk" required></dd>
                                        </dl>
                                    </form>
                                </div> <!--class="modal-body"-->

                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-disabled="hostForm.$invalid" ng-click="saveHost()">추가</button>
                                </div><!--class="modal-footer gn-modal-footer"-->
                            </div><!--class="modal-content"-->
                        </div> <!--class="modal-dialog form-horizontal"-->
                    </div> <!--class="modal fade" id="cluster" role="dialog"-->

                </div>

                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th class="">타입</th>
                                <th class="hidden-xs">엔드 포인트</th>
                                <th class="hidden-xs">노드</th>
                                <th class="">생성일<div class="refresh"></div></th>
                                <th class=""><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="list in cluster_list">
                                <td >{{list.type}}</td>
                                <td class="hidden-xs">{{list.ip}}:{{list.port}}</td>
                                <td class="hidden-xs gn-syssett-td">
                                    <p ng-repeat="host in list.gnHostMachines">{{host.ip}}</p>
                                </td>
                                <td class="">{{list.create_time_diff}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <div class="gn-more">더보기</div>
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a href data-toggle="modal" data-target="#cluster" ng-click="getCluster(list.id)">수정</a></li>
                                        <li><a href ng-click="deleteCluster(list.id)">삭제</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsive table-reset"-->
                </div> <!--class="container-fluid"-->

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->
</div>