<!-- Main component for a primary marketing message or call to action -->
<h1>인스턴스</h1>
<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
<div class="container-fluid gn-container">
    <div class="row">
        <h2>인스턴스 이름</h2>
        <div class="row">
            <div class="col-sm-3" ng-class="{ 'has-error' : userForm.vm_name.$invalid && !userForm.vm_name.$pristine }">
                <input type="text" class="form-control gn-form-control" name="vm_name" ng-model="data.vm_name" placeholder="이름을 입력하여주세요." id="vm_name" required>
                <p ng-show="userForm.vm_name.$invalid && !userForm.vm_name.$pristine" class="help-block">이름을 입력해주세요.</p>
            </div>
        </div>
    </div>
</div>
</form>
<div class="container-fluid gn-container">
    <div class="row">
        <h2>타입 선택</h2>
        <form>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('hyperv')">
                    <input name="" value="" type="radio">
                    <span class="sprite-img sprite-hyperv"></span>
                    Hyper-V
                </label>
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('kvm')">
                    <input name="" value="" type="radio">
                    <span class="sprite-img sprite-kvm"></span>
                    KVM
                </label>
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('docker')">
                    <input name="" value="" class="active" type="radio">
                    <span class="sprite-img sprite-docker"></span>
                    docker
                </label>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid gn-container" id="vm_image">
    <div class="row">
        <h2>이미지 선택</h2>
        <!--탭메뉴-->
        <ul class="nav nav-tabs gn-nav-tabs">
            <li class="active"><a data-toggle="tab" class="tab-title" ng-click="imageshow('image')">이미지</a></li>
            <li><a data-toggle="tab" class="tab-title" ng-click="imageshow('snap')">스냅샷</a></li>
        </ul> <!-- class="nav nav-tabs"-->
        <br>
        <div class="tab-content gn-tab-content">
            <!--탭메뉴1 : 이미지 -->
            <div id="image">
                <div class="btn-group" data-toggle="buttons">
                    <label  ng-repeat="list in image_list" class="btn btn-default gn-btn-default inp-box-size" ng-click="update_image(list)">
                        <input name="" value="1" type="radio">
                        <span class="sprite-img sprite-{{list.type}}"></span>
                        {{list.os}}
                        <span class="windows-small gn-name-ellip">{{list.name}}</span>

                    </label>
                </div>
            </div>

            <div id="snap">
                <form >
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default gn-btn-snap" ng-repeat="list in snap_list" ng-click="update_image(list)">
                            <input name="" value="" type="radio">
                            <p class="ellipsis">
                                <img src="/gn_images/gn_icon_{{list.os}}.png" alt="" class="elli-img-icon">{{list.name}}</p>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>  <!--class="tab-content"-->
</div>


<div class="container-fluid gn-container" id="vm_size">
    <div class="row">
        <h2>사이즈 선택</h2>

        <form>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(1,512,20)">
                    <input name="" value="1" type="radio">
                    <div class="size-info">1 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">512 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(1,1024,20)">
                    <input name="" value="2" type="radio">
                    <div class="size-info">1 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">1024 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(2,512,20)">
                    <input name="" value="2" type="radio">
                    <div class="size-info">2 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">512 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(2,1024,20)">
                    <input name="" value="2" type="radio">
                    <div class="size-info">2 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">1024 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid gn-container">
    <div class="row">
        <h2>SSH 키/비밀번호 설정</h2>
        <div class="row gn-margin-bott10" id="ssh">
            <!--최초 등록 시 출력되는 버튼-->
            <button type="button" class="btn btn-gn-sub btn-lg col-md-2" data-toggle="modal" data-target="#myModal">SSH 키 생성</button>
            <form name="passForm" ng-submit="submitForm(passForm.$valid)" novalidate>
            <!-- ****체크박스 대신 select box로 변경되었습니다**** -->
            <div class="col-md-3" ng-class="{ 'has-error' : passForm.ssh.$invalid && !passForm.ssh.$pristine }">
                <select class="gn-select form-control gn-form-control" name="ssh" ng-model="guest_item" ng-model="ssh" ng-options="item.name for item in sshkey_list" required>
                    <option value="">SSH 키 선택</option>
                </select>
                <p ng-show="passForm.ssh.$invalid && !passForm.ssh.$pristine" class="help-block">ssh키를 선택하세요.</p>
            </div>
            </form>
        </div>
        <!--윈도우의 경우-->
        <form name="winForm" ng-submit="submitForm(winForm.$valid)" novalidate>
        <div class="form-group row" id="windows">
            <div class="col-sm-2 gn-input-pw" >Administrator 비밀번호</div>
            <div class="col-sm-3" ng-class="{ 'has-error' : winForm.pass.$invalid && !winForm.pass.$pristine }">
                <input type="password" class="form-control gn-form-control" ng-model="data.password" name="pass" placeholder="비밀번호 입력" required>
                <p ng-show="winForm.pass.$invalid && !winForm.pass.$pristine" class="help-block">비밀번호를 입력하세요.</p>
            </div>
        </div>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content ">
                    <div class="modal-header gn-modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SSH 키 생성</h4>
                    </div>
                    <form name="sshcreateForm" ng-submit="submitForm(sshcreateForm.$valid)" novalidate>
                    <div class="modal-body gn-modal-body" ng-class="{ 'has-error' : sshcreateForm.sshname.$invalid && !sshcreateForm.sshname.$pristine }">
                        <input type="text" ng-model="data.name" name="sshname" placeholder="이름" class="form-control gn-form-control" required>
                        <p ng-show="sshcreateForm.sshname.$invalid && !sshcreateForm.sshname.$pristine" class="help-block">이름을 입력하세요.</p>
                    </div>
                    </form>
                    <div class="modal-footer gn-modal-footer">
                        <button type="submit" ng-click="save()"  class="btn btn-gn-sub btn-lg btn-block" data-dismiss="modal" ng-disabled="sshcreateForm.$invalid">생성</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid gn-container">
    <div class="row">
        <h2>태그입력</h2>
        <div class="form-group">
            <label for="comment" class="gn-lead">태그와 태그는 쉼표로 구분됩니다.</label>
            <textarea class="form-control gn-form-control" id="tag" rows="5" id="comment" placeholder="ex)패스트캣, 개발, 512MB"></textarea>
        </div>
    </div>
</div>

<button type="submit" value="submit" class="btn btn-success btn-block btn-lg" ng-click="submit()" ng-disabled="userForm.$invalid || passForm.$invalid && winForm.$invalid">인스턴스 생성</button>

