<h1>설정</h1>
<navleft></navleft>

<!--오른쪽 메뉴-->
<div class="tab-content col-xs-12 col-sm-10">
    <!--시스템 > 리소스 단위 관리-->
    <div id="cluster-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>리소스 단위 관리</h2>
                    <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#price" >등록</button>

                    <!-- 가격 Modal -->
                    <div class="modal fade" id="price" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                                    <h4 class="modal-title">등록</h4>
                                </div>

                                <div class="modal-body gn-modal-body price-mod">

                                    <form name="clusterForm" class="form-horizontal">
                                        <div class="form-group">
                                            <label for="inputtext" class="col-xs-12 col-sm-3 control-label gn-control-label">CPU</label>
                                            <div class="col-xs-8 col-sm-6" ng-class="{ 'has-error' : clusterForm.cpu.$invalid && !clusterForm.cpu.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="cpu" placeholder="1" ng-model="data.cpu" required>
                                                <p ng-show="clusterForm.cpu.$invalid && !clusterForm.cpu.$pristine" class="help-block">CPU 개수를 입력하세요.</p>
                                            </div>
                                            <span class="col-xs-4 col-sm-3">CORE</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-xs-12 col-sm-3 control-label gn-control-label">Memory</label>
                                            <div class="col-xs-8 col-sm-6" ng-class="{ 'has-error' : clusterForm.mem.$invalid && !clusterForm.mem.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="mem" placeholder="2" ng-model="data.mem" required>
                                                <p ng-show="clusterForm.mem.$invalid && !clusterForm.mem.$pristine" class="help-block">메모리 크기를 입력하세요.</p>
                                            </div>
                                            <p class="col-xs-4 col-sm-3" ng-class="{ 'has-error' : clusterForm.mem_size.$invalid && !clusterForm.mem_size.$pristine }">
                                                <select class="gn-select gn-form-control btn-block" name="mem_size" ng-model="memsize" ng-options="mem.name for mem in mem" ng-change="sizemem(memsize)">
                                                    <option value="">선택</option>
                                                </select>
                                                <p ng-show="clusterForm.mem_size.$invalid && !clusterForm.mem_size.$pristine" class="help-block">메모리 사이즈를 선택하세요.</p>
                                            </p>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-xs-12 col-sm-3 control-label gn-control-label">Disk</label>
                                            <div class="col-xs-8 col-sm-6" ng-class="{ 'has-error' : clusterForm.disk.$invalid && !clusterForm.disk.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="disk" placeholder="10" ng-model="data.disk" required>
                                                <p ng-show="clusterForm.disk.$invalid && !clusterForm.disk.$pristine" class="help-block">디스크 크기를 입력하세요.</p>
                                            </div>
                                            <p class="col-xs-4 col-sm-3" ng-class="{ 'has-error' : clusterForm.disk_size.$invalid && !clusterForm.disk_size.$pristine }">
                                                <select class="gn-select gn-form-control btn-block" name="disk_size" ng-model="disksize" ng-options="disk.name for disk in disk" ng-change="sizedisk(disksize)" required>
                                                    <option value="">선택</option>
                                                </select>
                                                <p ng-show="clusterForm.disk.$invalid && !clusterForm.disk.$pristine" class="help-block">디스크 크기를 선택하세요.</p>
                                            </p>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputtext" class="col-xs-12 col-sm-3 control-label gn-control-label">가격</label>
                                            <div class="col-xs-8 col-sm-6" ng-class="{ 'has-error' : clusterForm.won.$invalid && !clusterForm.won.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="won" placeholder="1000" ng-model="data.won" required>
                                                <p ng-show="clusterForm.won.$invalid && !clusterForm.won.$pristine" class="help-block">가격를 입력하세요.</p>
                                            </div>
                                            <span class="col-xs-4 col-sm-3">원/일</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-xs-12 col-sm-3 control-label gn-control-label">가격</label>
                                            <div class="col-xs-8 col-sm-6" ng-class="{ 'has-error' : clusterForm.won_hour.$invalid && !clusterForm.won_hour.$pristine }">
                                                <input type="text" class="form-control gn-form-control" name="won_hour" placeholder="100" ng-model="data.won_hour" required>
                                                <p ng-show="clusterForm.won_hour.$invalid && !clusterForm.won_hour.$pristine" class="help-block">가격를 입력하세요.</p>
                                            </div>
                                            <span class="col-xs-4 col-sm-3">원/시간</span>
                                        </div>
                                    </form>
                                </div> <!--class="modal-body"-->

                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-disabled="clusterForm.$invalid" ng-click="savesize()">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>  <!--class="modal fade" id="cluster"-->
                </div>

                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table gn-board-table">
                            <thead>
                                <tr>
                                    <th class="hidden-xs">#</th>
                                    <th class="">정보</th>
                                    <th class="hidden-xs">시간 가격</th>
                                    <th class="hidden-xs">일 가격</th>
                                    <th class=""></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="price in price_list">
                                    <td class="hidden-xs">{{$index+1}}</td>
                                    <td class="">{{price.cpu}} CPU/ {{price.mem}} / {{price.disk}}</td>
                                    <td class="hidden-xs">{{price.hour_price | number}}원</td>
                                    <td class="hidden-xs">{{price.day_price | number}}원</td>
                                    <td class="dropdown">
                                        <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <div class="gn-more">더보기</div>
                                            <span class="gn-caret-table"></span>
                                        </div>
                                        <!--더보기>드롭다운-->
                                        <ul class="dropdown-menu gn-dropdown" role="menu">
                                            <li ng-repeat="sel in actions">
                                                <a class="gn-danger" ng-click="update(price.id)">{{sel.name}}</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsive table-reset"-->
                </div> <!--class="container-fluid"-->

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->
</div>