<h1>설정</h1>
<!--왼쪽 메뉴-->
<ul class="nav nav-pills gn-left-menu col-sm-2">
    <li class="left-title gn-top">시스템</li>
    <li><a data-toggle="pill"  href="#/guestSystemList">프로필</a></li>
    <li><a data-toggle="pill" href="#/guestTeamList">팀 관리</a></li>
    <li><a data-toggle="pill" href="#/guestCluster">클러스터 관리</a></li>
    <li><a data-toggle="pill" href="#/guestImage">이미지 관리</a></li>
    <li><a data-toggle="pill" href="#/guestPrice">리소스 단위 관리</a></li>
    <li><a data-toggle="pill" href="#/guestLoginHist">로그인 이력 조회</a></li>
    <li class="active"><a data-toggle="pill" href="#/guestInvoice">과금</a></li>
    <li><a data-toggle="pill" href="#/guestSetting">설정</a></li>
</ul>
<div class="tab-content col-xs-12 col-sm-10">
    <!--시스템 > 가격 관리-->
    <div id="price" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>과금 조회</h2>
                    <table class="table table gn-table">
                        <thead>
                        <tr>
                            <th class="col-sm-2">번호</th>
                            <th class="col-sm-3 col-xs-9">팀코드</th>
                            <th class="col-sm-3 col-xs-9">과금월</th>
                            <th class="col-sm-1 hidden-xs"></th>
                        </tr>
                        </thead>
                        <tbody class="gn-tdody">
                        <tr ng-repeat="price in pricelist">
                            <td>{{$index+1}}</td>
                            <td>{{price.team_code}}</td>
                            <td>{{price.year}}-{{price.month}}</td>
                            <td><button type="button" class="btn-default btn" data-toggle="modal" data-target="#priceModal" ng-click="price_list_info(price.year,price.month,price.team_code)">보기</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="priceModal" role="dialog">
                        <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">과금 상세 정보</h4>
                                </div>
                                <div class="modal-body gn-modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label gn-control-label">팀코드</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{price_invoice.team}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">과금월</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{price_invoice.year}}-{{price_invoice.month}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">가격</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{price_invoice.team_price}}원</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">계산일</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{price_invoice.calc_day}}</p>
                                            </div>
                                            <table class="table gn-board-table table-condensed table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="col-sm-3">인스턴스</th>
                                                    <th class="col-sm-2">과금방법</th>
                                                    <th class="col-sm-2">가격</th>
                                                    <th class="col-sm-2">사용시간</th>
                                                    <th class="col-sm-2">총가격</th>
                                                </tr>
                                                </thead>
                                                <tbody class="gn-tdody">
                                                <tr class="" ng-repeat="pr in price_info">
                                                    <td>{{pr.vm_name}}</td>
                                                    <td>{{pr.price_type}}</td>
                                                    <td>{{pr.unit_price}}원</td>
                                                    <td>{{pr.used}}시간</td>
                                                    <td>{{pr.total_price}}원</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div> <!--class="modal-content"-->
                        </div> <!--class="modal-dialog modal-sm"-->
                    </div>
                    <input type="button" class="btn btn-default"  style="" ng-click="page(prev_page)" value="이전" ng-show="page_hist != 1">
                    <input type="button" class="btn btn-default" style="" ng-click="page(next_page)" value="다음" ng-show="page_total!=page_hist">

                </div>
            </div>
        </div>
    </div>

</div>