<!-- Main component for a primary marketing message or call to action -->
<h1>인스턴스</h1>
<div class="container-fluid gn-container">
    <div class="row">
        <h2>인스턴스 이름</h2>
        <div class="row">
            <div class="col-sm-5">
                <input type="text" class="form-control gn-form-control gn-margin-bott10" name="vm_name" ng-model="data.vm_name" placeholder="이름을 입력하여주세요." id="vm_name" ng-class="{'gn-input-error':data_value=='name'}" required><p ng-show="data_value == 'name'" class="error-message">이름을 입력해주세요</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid gn-container">
    <div class="row">
        <h2>타입 선택</h2>
        <form>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('hyperv')" ng-class="{'gn-input-error':data_value =='type'}">
                    <input id="type" name="" value="" type="radio">
                    <span class="sprite-img sprite-hyperv"></span>
                    Hyper-V
                </label>
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('kvm')" ng-class="{'gn-input-error':data_value =='type'}">
                    <input name="" value="" type="radio">
                    <span class="sprite-img sprite-kvm"></span>
                    KVM
                </label>
                <label class="btn btn-default gn-btn-default label-box-type" ng-click="selectType('docker')" ng-class="{'gn-input-error':data_value =='type'}">
                    <input name="" value="" class="active" type="radio">
                    <span class="sprite-img sprite-docker"></span>
                    docker
                </label>
                <p ng-show="data_value == 'type' " class="error-message">타입을 선택해주세요.</p>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid gn-container" id="vm_image">
    <div class="row">
        <h2>이미지 선택</h2>
        <!--탭메뉴-->
        <ul class="nav nav-tabs gn-nav-tabs">
            <li class="active"><a data-toggle="tab" class="tab-title" ng-click="imageshow('image')">이미지</a></li>
            <li><a data-toggle="tab" class="tab-title" ng-click="imageshow('snap')">스냅샷</a></li>
        </ul> <!-- class="nav nav-tabs"-->
        <br>
        <div id="tap" class="tab-content gn-tab-content">
            <!--탭메뉴1 : 이미지 -->
            <div id="image">
                <div class="btn-group" data-toggle="buttons">
                    <label  ng-repeat="list in image_list" class="btn btn-default gn-btn-default inp-box-size" ng-click="update_image(list)" ng-class="{'gn-input-error':data_value == 'image_id'}">
                        <input id="image_id" name="" value="1" type="radio">
                        <span class="sprite-img sprite-{{list.os}}"></span>
                        {{list.os}}
                        <span class="windows-small gn-name-ellip">{{list.name}}</span>

                    </label>
                </div>
            </div>

            <div id="snap">
                <form>
                    <div class="btn-group" data-toggle="buttons">
                        <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="list in snap_list" ng-click="update_image(list)">
                            <label class="btn btn-default gn-btn-snap btn-block"  ng-class="{'gn-input-error':data_value == 'image_id'}">
                                <input name="" value="" type="radio">
                                <span class="sprite-snap-img snap-sprite sprite-snap-{{list.os}}"></span>
                                <p class="ellipsis">{{list.name}}</p>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <p ng-show="data_value =='image_id' " class="error-message">이미지를 선택해주세요.</p>
        </div>
    </div>  <!--class="tab-content"-->
</div>


<div class="container-fluid gn-container" id="vm_size">
    <div class="row">
        <h2>사이즈 선택</h2>

        <form>
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(1,536870912,21475000000)" ng-class="{'gn-input-error':data_value == 'cpu'}">
                    <input id="cpu" name="" value="1" type="radio">
                    <div class="size-info">1 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">512 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(1,1073700000,42950000000)" ng-class="{'gn-input-error':data_value == 'cpu'}">
                    <input name="" value="2" type="radio">
                    <div class="size-info">1 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">1024 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">40 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(2,536870912,21475000000)" ng-class="{'gn-input-error':data_value == 'cpu'}">
                    <input name="" value="2" type="radio">
                    <div class="size-info">2 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">512 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <label class="btn btn-default gn-btn-default inp-box-size" ng-click="func(2,1073700000,21475000000)" ng-class="{'gn-input-error':data_value == 'cpu'}">
                    <input name="" value="2" type="radio">
                    <div class="size-info">2 CPU</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">1024 MB</div>
                    <div class="border-bottom"></div>
                    <div class="size-info">20 GB</div>
                </label>
                <p ng-show="data_value =='cpu' " class="error-message">cpu / memory / disk 의 크기를 선택해주세요.</p>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid gn-container">
    <div class="row">
        <h2 id="password">SSH 키/비밀번호 설정</h2>
        <div class="row gn-margin-bott10" id="ssh" >
            <!--최초 등록 시 출력되는 버튼-->
            <div class="col1-sm-3 col-md-2 gn-margin-bott10">
                <button type="button" class="btn btn-gn-sub btn-lg btn-block" data-toggle="modal" data-target="#sshModal"  ng-class="{'gn-input-error':data_value == 'password'}">SSH 키 생성</button>
            </div>
            <!-- ****체크박스 대신 select box로 변경되었습니다**** -->
            <div class="col-md-4 col-md-4">
                <select class="gn-select form-control gn-form-control" name="ssh" ng-model="guest_item" ng-options="item.id as item.name for item in sshkey_list" ng-change="selectKey(guest_item)" required  ng-class="{'gn-input-error':data_value == 'password'}">
                    <option value="">SSH 키 선택</option>
                </select>
                <p ng-show="data_value == 'password'"  class="error-message">ssh키를 선택하세요.</p>
            </div>
        </div>

        <!--윈도우의 경우-->
        <div class="form-group row" id="windows">
            <div class="col-sm-3 col-md-2 gn-input-pw" >Administrator 비밀번호</div>
            <div class="col-sm-4 col-md-4">
                <input type="password" class="form-control gn-form-control" ng-model="data.password" name="pass" placeholder="비밀번호 입력" ng-keyup="$event.keyCode =='13' && submit()" required ng-class="{'gn-input-error':data_value == 'password'}">
                <p ng-show="data_value == 'password'"  class="error-message">비밀번호를 입력하세요.</p>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="sshModal" role="dialog">
            <div class="modal-backdrop fade in" style="height: 3000px;"></div>
            <div class="modal-dialog modal-sm">
                <div class="modal-content ">
                    <div class="modal-header gn-modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SSH 키 생성</h4>
                    </div>
                    <form name="sshcreateForm" ng-submit="submitForm(sshcreateForm.$valid)" novalidate>
                    <div class="modal-body gn-modal-body" ng-class="{ 'has-error' : sshcreateForm.sshname.$invalid && !sshcreateForm.sshname.$pristine }">
                        <input type="text" ng-model="data.name" name="sshname" placeholder="이름" class="form-control gn-form-control" required>
                        <p ng-show="sshcreateForm.sshname.$invalid && !sshcreateForm.sshname.$pristine" class="help-block">이름을 입력하세요.</p>
                    </div>
                    </form>
                    <div class="modal-footer gn-modal-footer">
                        <button type="submit" ng-click="save()"  class="btn btn-gn-sub btn-lg btn-block" data-dismiss="modal" ng-disabled="sshcreateForm.$invalid">생성</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid gn-container">
    <div class="row">
        <h2>태그입력</h2>
        <div class="form-group">
            <label for="comment" class="gn-lead">태그와 태그는 쉼표로 구분됩니다.</label>
            <textarea class="form-control gn-form-control" id="tag" rows="5" id="comment" placeholder="ex)패스트캣, 개발, 512MB" ng-keyup=""></textarea>
        </div>
    </div>
</div>

<button type="submit" value="submit" class="btn btn-success btn-block btn-lg" ng-click="submit()">인스턴스 생성</button>

