<h1>설정</h1>

<!--왼쪽 메뉴-->
<ul class="nav nav-pills gn-left-menu col-xs-12 col-sm-2">
    <li class="left-title gn-top">시스템</li>
    <li><a data-toggle="pill" ng-click="click('profile-system')">프로필</a></li>
    <li><a data-toggle="pill" ng-click="click('team-sett')">팀 관리</a></li>
    <li><a data-toggle="pill" ng-click="click('cluster-sett')">클러스터 관리</a></li>
    <li><a data-toggle="pill" ng-click="click('image-sett')">이미지 관리</a></li>
</ul>

<!--오른쪽 메뉴-->
<div class="tab-content col-xs-12 col-sm-10">
    <!--시스템 > 프로필-->
    <div id="profile-system"  class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>지앤 클라우드 프라이빗</h2>

                    <form class="form-horizontal">
                        <dl class="dl-horizontal gn-description-list">
                            <dt>날짜</dt>
                            <dd>2016.12.27</dd>
                            <dt>저작권</dt>
                            <dd>&copy;&nbsp;COPYRIGHT&nbsp;&nbsp;지앤클라우드
                                &nbsp;&nbsp;ALL&nbsp;&nbsp;RIGHT&nbsp;&nbsp;RESERVED.</dd>
                            <dt>홈페이지</dt>
                            <dd><a href="http://www.gnclouds.com" class="gn-url">www.gnclouds.com</a></dd>

                        </dl>
                    </form>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

    <!--시스템 > 팀 관리-->
    <div id="team-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>팀 관리</h2>

                    <!--팀 관리 목록-->
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th class="">팀명</th>
                                <th class="">관리자</th>
                                <th class="">팀원</th>
                                <th class="hidden-xs hidden-sm">생성일</th>
                                <th class="hidden-xs hidden-sm">리소스</th>
                                <th><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="select in table">
                                <td><a href="#/guestTeamDetail?code={{select.team_code}}">{{select.team_name}}</a></td>
                                <td>{{select.owner_name}}
                                    <br>
                                    <span>{{select.owner_id}}</span>
                                </td>
                                <td>
                                    <div>
                                        <div>
                                            <span><span class="tag" data-toggle="tooltip" title="{{select.users}}" tooltip>+{{select.userslen}}</span></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden-xs hidden-sm"><span data-toggle="tooltip" title="{{select.create_date}}" tooltip>{{select.create_time_diff}}</span></td>
                                <td class="hidden-xs hidden-sm">{{select.cpu_use_cnt}}CORE/{{select.mem_use_cnt}}/{{select.disk_use_cnt}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade" 팀 > 리소스-->

    <!--시스템 > 클러스터 관리-->
    <div id="cluster-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>클러스터 관리</h2>
                    <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#cluster" ng-show="registYn == 'Y'">등록</button>

                    <!-- 클러스터 Modal -->
                    <div class="modal fade" id="cluster" role="dialog">
                        <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">클러스터 등록</h4>
                                </div>

                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal">
                                        <div class="form-group" ng-show="cluster.id == ''">
                                            <label class="col-sm-3 control-label gn-control-label">타입</label>
                                            <div class="col-sm-9">
                                                <label class="radio-inline mod-input-name">
                                                    <input type="radio" name="optradio" ng-model="cluster.type">Hyper-V
                                                </label>
                                                <label class="radio-inline mod-input-name" ng-model="cluster.type">
                                                    <input type="radio" name="optradio">KVM
                                                </label>
                                                <label class="radio-inline mod-input-name" ng-model="cluster.type">
                                                    <input type="radio" name="optradio">Docker
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">엔드 포인트 IP</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputtext" placeholder="192.168.0.3" ng-model="cluster.ip">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">엔드 포인트 <br/>PORT</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputtext" placeholder="9090" ng-model="cluster.port">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">노드 리스트</label>
                                            <div class="col-sm-9">
                                                <span ng-repeat="gnHostMachine in cluster.gnHostMachines">{{gnHostMachine.ip}}  <a href ng-click="deleteNode(gnHostMachine.id)">삭제</a><br/></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">노드</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="inputtext" placeholder="192.168.0.100" ng-model="host.ip">
                                            </div>
                                            <div class="col-sm-2 btn-sm2">
                                                <button type="button" class="btn btn-gn-sub btn-block" data-toggle="modal" data-target="#cluster-more">추가</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="3" ng-model="cluster.node"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div> <!--class="modal-body"-->

                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-click="saveCluster()">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>  <!--class="modal fade" id="cluster"-->
                    
                    <!-- 클러스터 노드 추가 Modal -->
                    <div class="modal fade" id="cluster-more" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                              <div class="modal-header gn-modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">노드 추가</h4>
                              </div>

                              <div class="modal-body gn-modal-body">

                                <form class="form-horizontal">

                                    <dl class="dl-horizontal gn-description-node">
                                      <dt class="">CPU</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.cpu"></dd>
                                      <dt class="">MAX CPU</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.max_cpu"></dd>
                                      <dt class="">MEMORY</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.mem"></dd>
                                      <dt class="">MAX MEMORY</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.max_mem"></dd>
                                      <dt class="">DISK</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.disk"></dd>
                                      <dt class="">MAX DISK</dt>
                                      <dd><input type="text" class="form-control gn-form-control" placeholder="-" ng-model="host.max_disk"></dd>
                                    </dl>                                                                                                  
                                </form>                                        
                              </div> <!--class="modal-body"-->

                              <div class="modal-footer gn-modal-footer">
                                <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-click="saveHost()">추가</button>
                              </div><!--class="modal-footer gn-modal-footer"-->
                            </div><!--class="modal-content"-->  
                        </div> <!--class="modal-dialog form-horizontal"-->
                    </div> <!--class="modal fade" id="cluster" role="dialog"-->                     
                    
                </div>

                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                                <tr>
                                    <th class="col-sm-2">타입</th>
                                    <th class="col-sm-3 hidden-xs">엔드 포인트</th>
                                    <th class="col-sm-3 hidden-xs">노드</th>
                                    <th class="col-sm-2 hidden-xs hidden-sm">생성일<div class="refresh"></div></th>
                                    <th class="col-sm-2"><!--더보기--></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="list in cluster_list">
                                    <td >{{list.type}}</td>
                                    <td class="hidden-xs">{{list.ip}}:{{list.port}}</td>
                                    <td class="hidden-xs gn-syssett-td">
                                        <p ng-repeat="host in list.gnHostMachines">{{host.ip}}</p>
                                    </td>
                                    <td class="hidden-xs hidden-sm">{{list.create_time_diff}}</td>
                                    <td class="dropdown">
                                        <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                            <div class="gn-more">더보기</div>
                                            <span class="gn-caret-table"></span>
                                        </div>
                                        <!--더보기>드롭다운-->
                                        <ul class="dropdown-menu gn-dropdown" role="menu">
                                            <li><a href data-toggle="modal" data-target="#cluster" ng-click="getCluster(list.id)">수정</a></li>
                                            <li><a href ng-click="deleteCluster(list.id)">삭제</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsive table-reset"-->
                </div> <!--class="container-fluid"-->

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

    <!--시스템 > 이미지 관리-->
    <div id="image-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>이미지 관리</h2>

                    <ul class="nav nav-tabs gn-nav-tabs">
                        <li class="active"><a data-toggle="tab" class="" ng-click="imageset('machine')">가상머신</a></li>
                        <li><a data-toggle="tab" class="" ng-click="imageset('container')">컨테이너</a></li>
                    </ul> <!-- class="nav nav-tabs"-->

                    <!--시스템 > 이미지 관리 > 가상머신/컨테이너-->
                    <div class="tab-content">

                        <!--탭메뉴1 : 가상머신 -->
                        <div id="machine" class="">
                            <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#image" ng-click="initForm('instance');">등록</button>

                            <!-- 이미지 Modal -->
                            <div class="modal-sett modal fade" id="image" role="dialog">
                                <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                                <div class="modal-dialog form-horizontal">
                                    <div class="modal-content col-sm-10 col-sm-offset-1">
                                        <div class="modal-header gn-modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">이미지 등록</h4>
                                        </div>

                                        <div class="modal-body gn-modal-body">
                                            <form name="myForm" class="form-horizontal" ng-submit="submitForm(myForm.$valid)">
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">아이콘</label>
                                                    <div class="col-sm-10">
                                                        <!--초기 이미지 등록 박스-->
                                                            <img ngf-src="picFile" class="thumb">

                                                                <fieldset>
                                                                <input type="file" ngf-select ng-model="picFile" name="file" ngf-accept="'image/*'">


                                                                </fieldset>

                                                        <!--<div class="drop-img" data-toggle="dropdown" role="button" aria-expanded="false">&nabla;</div>-->
                                                        <!--<ul class="dropdown-img-icon" role="menu">-->
                                                            <!--<li><a href="#">이미지 변경</a></li>-->
                                                            <!--<li><a href="#">이미지 삭제</a></li>-->
                                                        <!--</ul>-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label gn-control-label">타입</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myForm.optradio.$invalid && !myForm.optradio.$pristine }">
                                                        <label class="radio-inline mod-input-name">
                                                            <input type="radio" name="optradio" ng-model="instanceImage.type" value="hyperv" required>Hyper-V
                                                        </label>
                                                        <label class="radio-inline mod-input-name">
                                                            <input type="radio" name="optradio" ng-model="instanceImage.type" value="kvm" required>KVM
                                                        </label>
                                                        <p ng-show="myForm.optradio.$invalid && !myForm.optradio.$pristine" class="help-block">type를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">OS</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myForm.os.$invalid && !myForm.os.$pristine }">
                                                        <input type="text" name="os" class="form-control gn-form-control" placeholder="windows" ng-model="instanceImage.os" required>
                                                        <p ng-show="myForm.os.$invalid && !myForm.os.$pristine" class="help-block">os를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">버전</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myForm.os_ver.$invalid && !myForm.os_ver.$pristine }">
                                                        <input type="text" name="os_ver" class="form-control gn-form-control"  placeholder="10" ng-model="instanceImage.os_ver" maxlength="2" required>
                                                        <p ng-show="myForm.os_ver.$invalid && !myForm.os_ver.$pristine" class="help-block">버전을 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">비트</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myForm.bit.$invalid && !myForm.bit.$pristine }">
                                                        <input type="text" name="bit" class="form-control gn-form-control" placeholder="64" ng-model="instanceImage.os_bit" maxlength="2" required>
                                                        <p ng-show="myForm.bit.$invalid && !myForm.bit.$pristine" class="help-block">비트를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">파일명</label>
                                                    <div class="col-sm-8" ng-class="{ 'has-error' : myForm.path.$invalid && !myForm.path.$pristine }">
                                                        <input type="text" name="path" class="form-control gn-form-control"  placeholder="windows_10_pro_x86.vhdx" ng-model="instanceImage.filename" required>
                                                        <p ng-show="myForm.path.$invalid && !myForm.path.$pristine" class="help-block">파일명을 입력하세요.</p>
                                                    </div>
                                                    <!--<div class="col-sm-2 btn-sm2">
                                                        <button type="file" class="btn btn-gn-sub btn-block">업로드</button>
                                                    </div>-->
                                                </div>
                                                <input type="hidden" ng-model="instanceImage.id">
                                            </form>
                                        </div> <!--class="modal-body"-->

                                        <div class="modal-footer gn-modal-footer">
                                            <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal" ng-disabled="myForm.$invalid" ng-click="uploadPic(picFile)">저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container-fluid">
                                <div class="table-responsive gn-table-responsive">
                                    <table class="table table gn-table gn-top">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-3">OS</th>
                                            <th class="col-sm-2">버전</th>
                                            <th class="col-sm-1 hidden-xs">BIT</th>
                                            <th class="col-sm-2 hidden-xs">타입</th>
                                            <th class="col-sm-2 col-sm-3 hidden-xs hidden-sm">생성일<div class="refresh" ng-click="refresh('image')"></div></th>
                                            <th><!--더보기--></th>
                                        </tr>
                                        </thead>
                                        <tbody class="gn-tdody">
                                        <tr ng-repeat="path in images_list">
                                            <td>
                                                <img src="/gn_images/{{path.icon}}" alt="" ng-show="path.icon != ''">

                                            {{path.os}}
                                            </td>
                                            <td class="hidden-xs">{{path.os_ver}}</td>
                                            <td class="hidden-xs">{{path.os_bit}}</td>
                                            <td>{{path.type}}</td>
                                            <td class="hidden-xs hidden-sm">{{path.create_time_diff}}</td>
                                            <td class="dropdown">
                                                <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <div class="gn-more">더보기</div>
                                                    <span class="gn-caret-table"></span>
                                                </div>
                                                <!--더보기>드롭다운-->
                                                <ul class="dropdown-menu gn-dropdown" role="menu">
                                                    <li><a href  ng-click="getInstanceImage(path.id)" data-toggle="modal" data-target="#image" role="button" aria-haspopup="true" aria-expanded="false">수정</a></li>
                                                    <li><a href ng-click="deleteInstanceImage(path.id)">삭제</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> <!--class="table-responsive table-reset"-->
                            </div>

                        </div> <!--id="image" class="tab-pane fade in active"-->


                        <!--시스템 > 이미지 관리 > 탭메뉴2 : 컨테이너-->
                        <div id="container" class="">
                            <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#img-cont" ng-click="initForm('docker');">등록</button>

                            <!-- 이미지 Modal -->
                            <div class="modal-sett modal fade" id="img-cont" role="dialog">
                                <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header gn-modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <!--<h4 class="modal-title">이미지 등록</h4>
                                              <span class="gn-lead">
                                                  도커 이미지 정보는 <a href="" class="link-color">http://hub.docker.com/explore/</a>에서 확인 가능 합니다.
                                                  특히, EXPOSEPORT 를 확인하여야 도커 컨테이너와 부모 시스템 간에 맵핑을 할 수 있습니다.
                                                  HA Proxy에 세팅을 할 때, 부모 시스템의 빈 포트 중 랜덤하게 연결 할 수 있습니다.
                                              </span>-->
                                        </div>

                                        <div class="modal-body gn-modal-body">

                                            <form name="myDockerForm" class="form-horizontal" ng-submit="submitForm(myDockerForm.$valid)">
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">아이콘</label>
                                                    <!--초기 이미지 등록 박스-->
                                                    <img ngf-src="dockerFile" class="thumb">
                                                    <fieldset>
                                                        <input type="file" ngf-select ng-model="dockerFile" name="file" ngf-accept="'image/*'">
                                                    </fieldset>
                                                    <!--<div class="col-sm-10">
                                                        <div class="img-icon-sett filebox">
                                                            <label class="hov-img-txt" for="img-file">이미지 등록</label>
                                                            <input type="file" id="img-file">
                                                        </div>
                                                        <div class="drop-img" data-toggle="dropdown" role="button" aria-expanded="false">&nabla;</div>
                                                        <ul class="dropdown-img-icon" role="menu">
                                                            <li><a href="#">이미지 변경</a></li>
                                                            <li><a href="#">이미지 삭제</a></li>
                                                        </ul>
                                                    </div>-->
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">이름</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.name.$invalid && !myDockerForm.name.$pristine }">
                                                        <input type="text" class="form-control" name="name" placeholder="postgres" ng-model="dockerImage.view_name" required>
                                                        <p ng-show="myDockerForm.name.$invalid && !myDockerForm.name.$pristine" class="help-block">이름을 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">버전</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.ver.$invalid && !myDockerForm.ver.$pristine }">
                                                        <input type="text" class="form-control" name="ver" placeholder="16.04.1" ng-model="dockerImage.os_ver" required>
                                                        <p ng-show="myDockerForm.ver.$invalid && !myDockerForm.ver.$pristine" class="help-block">버전을 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">태그</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.tag.$invalid && !myDockerForm.tag.$pristine }">
                                                        <input type="text" class="form-control" name="tag" placeholder="태그와 태그는 쉼표로 구분 됩니다." ng-model="dockerImage.tag" required>
                                                        <p ng-show="myDockerForm.ver.$invalid && !myDockerForm.ver.$pristine" class="help-block">태그를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">포트</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.port.$invalid && !myDockerForm.port.$pristine }">
                                                        <input type="text" class="form-control" name="port" placeholder="오픈할 포트를 쉼표로 구분하여 넣어주세요" ng-model="dockerImage.port" required>
                                                        <p ng-show="myDockerForm.port.$invalid && !myDockerForm.port.$pristine" class="help-block">포트를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">환경변수</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.env.$invalid && !myDockerForm.env.$pristine }">
                                                        <textarea class="form-control" rows="2" name="env" placeholder="환경변수와 볼륨은 한줄에 하나씩 넣어주세요" ng-model="dockerImage.env" required></textarea>
                                                        <p ng-show="myDockerForm.env.$invalid && !myDockerForm.env.$pristine" class="help-block">환경변수를 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label" >볼륨</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.vol.$invalid && !myDockerForm.vol.$pristine }">
                                                        <textarea class="form-control" rows="2" name="vol" placeholder="볼륨을 한 줄에 하나씩 넣어주세요" ng-model="dockerImage.vol" required></textarea>
                                                        <p ng-show="myDockerForm.vol.$invalid && !myDockerForm.vol.$pristine" class="help-block">볼륨을 입력하세요.</p>
                                                    </div>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label" ng-model="dockerImage.dsc">설명</label>
                                                    <div class="col-sm-10" ng-class="{ 'has-error' : myDockerForm.dsc.$invalid && !myDockerForm.dsc.$pristine }">
                                                        <textarea class="form-control" rows="2" name="dsc"></textarea>
                                                        <p ng-show="myDockerForm.dsc.$invalid && !myDockerForm.dsc.$pristine" class="help-block">설명을 입력하세요.</p>
                                                    </div>
                                                </div>-->
                                                <input type="hidden" ng-model="dockerImage.id">
                                            </form>
                                        </div> <!--class="modal-body"-->



                                        <div class="modal-footer gn-modal-footer">
                                            <button type="submit" class="btn btn-gn-sub btn-block" ng-disabled="myDockerForm.$invalid" data-dismiss="modal" ng-click="uploadDocker(dockerFile)" >저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container-fluid row">
                                <div class="table-responsive gn-table-responsive">
                                    <table class="table table gn-table gn-top">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-3">이름</th>
                                            <th class="col-sm-2">버전</th>
                                            <th class="col-sm-2">태그</th>
                                            <th class="col-sm-2">생성일<div class="refresh" ng-click="refresh('contain')"></div></th>
                                            <th class="col-sm-1"><!--더보기--></th>
                                        </tr>
                                        </thead>
                                        <tbody class="gn-tdody">
                                        <tr ng-repeat="contain in contain_list">
                                            <td>
                                                <img src="/gn_images/{{contain.icon}}" alt="" ng-show="contain.icon != '' ">
                                                {{contain.view_name}}
                                            </td>
                                            <td class="hidden-xs">{{contain.os_ver}}</td>
                                            <td class="hidden-xs">{{contain.tag}}</td>
                                            <td class="hidden-xs hidden-xs">{{contain.create_time_diff}}</td>
                                            <td class="dropdown">
                                                <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    <div class="gn-more">더보기</div>
                                                    <span class="gn-caret-table"></span>
                                                </div>
                                                <!--더보기>드롭다운-->
                                                <ul class="dropdown-menu gn-dropdown" role="menu">
                                                    <li><a href  ng-click="getInstanceImageDocker(contain.id)" data-toggle="modal" data-target="#img-cont" role="button" aria-haspopup="true" aria-expanded="false">수정</a></li>
                                                    <li><a href ng-click="deleteInstanceImageDoker(contain.id)">삭제</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> <!--class="table-responsive table-reset"-->
                            </div>

                        </div> <!--스냅샷-->
                    </div>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="image-sett"  class="tab-pane fade"-->
</div> <!--class="tab-content right-box fl" -->




