<h2 class="sub-header">ssh key list</h2>
<div class="table-responsive">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="data.name" placeholder="name">
        </div>
        <input type="submit" id="submit" ng-click="save()" value="생성"/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>이름</th>
            <th>Fingerprint</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in data_list">
            <td>{{ list.name }}</td>
            <td>{{ list.fingerprint }}</td>
            <td><span ng-click="update(list.id,$index)">삭제</span></td>
            <td><span ng-click="download(list.id)">다운로드</span></td>
        </tr>
        </tbody>
    </table>
</div>

</div>
</div>