<h1>공지</h1>
<h2>목록
<!--쓰기 버튼-->
<input type="button" class="btn btn-default btn-right pull-right" data-toggle="modal" data-target="#modi-write" value="작성하기" ng-show="user_info.authority == 'sysowner' "></h2>
<!-- 공지사항 글쓰기 Modal -->
<div class="modal fade" id="modi-write" role="dialog">
    <div class="modal-backdrop fade in" style="height: 3000px;"></div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header gn-modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                <h4 class="modal-title">작성하기</h4>
            </div>
            <div class="modal-body gn-modal-body">
                <form class="form-horizontal" name="noticeForm" ng-submit="submitForm(noticeForm.$valid)" novalidate>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">제목</label>
                        <div class="col-sm-11">
                            <input type="text" ng-model="data.title" id="title" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">내용</label>
                        <div class="col-sm-11">
                            <textarea class="form-control gn-write" name="text" rows="6" ng-model="data.text" id="text" placeholder="내용을 입력하여주세요." required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer gn-modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="notice_create()" ng-disabled="noticeForm.$invalid">등록</button>
            </div>
        </div>
    </div>
</div><!--<div class="modal fade" id="modi-write" role="dialog">-->
<!--공지 목록-->
<div class="table-responsive gn-table-responsive">
    <table class="table gn-board-table table-condensed table-hover">
        <thead>
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-9">내용</th>
            <th class="col-sm-2">작성일</th>
        </tr>
        </thead>
        <tbody class="gn-tdody">
        <tr class="" ng-repeat="list in list">
            <td>{{total_page-($index+this_page)}}</td>
            <td class="second-td-name"><a class="gn-ms-cursor"  data-toggle="modal" data-target="#modal-board" ng-click="notice_lnfo(list.id,page_hist)">{{list.title}}</a></td>
            <td>{{list.write_date}}</td>
        </tr>
        </tbody>
    </table>
</div><!--div class="table-responsive gn-table-responsive" -->
<!--이전/다음 버튼-->
<input type="button" class="btn btn-default" ng-click="noticeList(prev_page)" value="이전" ng-show="page_hist != 1">
<input type="button" class="btn btn-default" ng-click="noticeList(next_page)" value="다음" ng-show="page_total!=page_hist">
<!-- 공지 Modal -->
<div class="modal fade" id="modal-board" role="dialog">
    <div class="modal-backdrop fade in" style="height: 3000px;"></div>
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
            <div class="modal-header gn-modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{notice.title}}</h4>
                <p><span class="noti-count">&nbsp;{{notice.write_date}}</span></p>
            </div>
            
            <div class="modal-body gn-modal-body" ng-class="{'gn-content':showData !=1}">
                <form class="form-horizontal">
                    <div class="form-group">
                        <pre class="gn-write col-sm-12" id="textread" ng-show="showData=='2'">{{notice.text}}</pre>
                        <div id="change" class="second-td-name gn-lead col-sm-12" ng-show="showData=='1'">
                            <textarea class="form-control gn-write" rows="6" ng-model="notice.text"></textarea>
                        </div>
                    </div>
                </form>
            </div><!--modal-body-->
            
            <div class="modal-footer gn-modal-footer">
                <p><!--구분선--></p>
                <button type="submit" class="btn btn-delete btn-default gn-btn-height pull-left" data-dismiss="modal" ng-show="user_info.authority == 'sysowner' " ng-click="deletenoti(notice.id,notice.title)">삭제</button>
                <button type="submit" class="btn btn-default pull-right" data-dismiss="modal" ng-click="showData = '2'">닫기</button>
                <button type="submit" class="btn btn-gn-primary pull-right" ng-show="user_info.authority == 'sysowner' && showData=='2' " ng-click="showData='1'">수정</button>
                <button type="submit" class="btn btn-gn-primary pull-right" ng-show="user_info.authority == 'sysowner' && showData=='1' " ng-click="showData='2';changetext(notice.id, notice.text)">저장</button>
            </div>
        </div>
    </div>
</div>