<h1>설정</h1>
<navme></navme>
<!--팀 > 팀원-->
<div id="team-group"  class="tab-pane col-xs-12 col-sm-10">
    <div class="gn-box">
        <div class="gn-sett-margin-box">
            <div class="container-fluid">
                <h2>{{teamname.team_name}}</h2>

                <div class="table-responsive gn-table-responsive">
                    <table class="table table gn-table">
                        <thead>
                        <tr>
                            <th class="">번호</th>
                            <th class="">등급</th>
                            <th class="">이름</th>
                            <th class="hidden-xs">아이디</th>
                            <th class="hidden-xs">상태</th>
                            <!--------------------------여기서부터 팀장 로그인 시 보이는 영역--------------------------------->
                            <th class="" ng-show="user_info.authority == 'owner' "><!--더보기--></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="won in won_list" ng-class="{'tr-on-me': user_info.user_id == won.user_id, 'tr-on-wait':won.team_check =='N'}" ng-cloak>
                            <td class="">{{$index+1}}</td>
                            <td class="">{{won.team_owner}}</td>
                            <td class="" class="gn-ms-cursor" data-toggle="modal" data-target="#teamModal" ng-click="infolist(won.user_id);"><a class="gn-ms-cursor">{{won.user_name}}</a></td>
                            <td class="" ng-model="data.user_id">{{won.user_id}}</td>
                            <!--------------------------여기서부터 팀장 로그인 시 보이는 영역--------------------------------->
                            <td class="hidden-xs">{{won.comf}}</td>
                            <td class="dropdown" ng-show="user_info.authority == 'owner' ">
                                <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <div class="gn-more">더보기</div>
                                    <span class="gn-caret-table"></span>
                                </div>
                                <!--더보기>드롭다운-->
                                <ul class="dropdown-menu gn-dropdown" role="menu" >
                                    <li><a class="btn" ng-click="update(won.user_id, won.team_code, 'approve', won.user_name,won.team_owner)" ng-disabled="won.team_check =='Y'">승인</a></li>
                                    <li><a class="btn" ng-click="update(won.user_id, won.team_code, 'change', won.user_name,won.team_owner)">등급변경</a></li>
                                    <li><a class="btn" ng-click="update(won.user_id, won.team_code, 'reset', won.user_name,won.team_owner)">비밀번호초기화</a></li>
                                    <li><a class="btn gn-danger" ng-click="update(won.user_id, won.team_code, 'dropout', won.user_name,won.team_owner)">팀탈퇴</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal fade" id="teamModal" role="dialog">
                        <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">팀원 상세 정보</h4>
                                </div>
                                <div class="modal-body gn-modal-body">
                                    <form>
                                        <div class="form-group" ng-repeat="team in teamwon_list">
                                            <label class="col-sm-4 control-label gn-control-label">등급</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.team_owner}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">이름</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.user_name}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">아이디</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.user_id}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">연락처</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.tel}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">이메일</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.email}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">상태</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.confirm}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">신청일</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.apply_date}}</p>
                                            </div>
                                            <label class="col-sm-4 control-label gn-control-label">승인일</label>
                                            <div class="col-sm-8">
                                                <p class="form-control-static">{{team.approve_date}}</p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> <!--class="modal-content"-->
                        </div> <!--class="modal-dialog modal-sm"-->
                    </div>
                </div> <!--class="table-responsiv"-->
            </div>
        </div> <!--class="gn-sett-margin-box"-->
    </div> <!--class="gn-box profile-team"-->
</div> <!--id="profile-team"  class="tab-pane fade"-->
<!--팀 > 프로필-->