<h1>이미지</h1>
<ul class="nav nav-tabs gn-nav-tabs">
    <li class="active"><a data-toggle="tab" class="" ng-click="snap('mac')">가상머신</a></li>
    <li><a data-toggle="tab" class="" ng-click="snap('container')">컨테이너</a></li>
</ul> <!-- class="nav nav-tabs"-->
<!--가상머신/컨테이너-->
<div class="tab-content">
    <!--탭메뉴1 : 가상머신 -->
    <div id="machine" class="">
        <!--가상머신 tab-->
        <ul id="tab" class="nav small-tabs">
            <li class="active"><a data-toggle="tab" class="tab-sm-box" ng-click="snap('image')">이미지</a></li>
            <li><a data-toggle="tab" class="tab-sm-box" ng-click="snap('snap')">스냅샷</a></li>
        </ul> <!-- class="nav nav-tabs"-->

        <div class="tab-content">
            <!--가상머신 > 이미지 -->
            <div id="image" class="gn-box">
                <div class="table-responsive gn-table-responsive gn-margin-box">
                    <h2>목록</h2>
                    <table class="table table-striped gn-table">
                        <thead>
                        <tr>
                            <th class="col-sm-3">OS</th>
                            <th class="col-sm-2">버전</th>
                            <th class="col-sm-2">Bit</th>
                            <th class="col-sm-2">타입</th>
                        </tr>
                        </thead>
                        <tbody class="gn-tdody">
                        <tr ng-repeat="base in base_list">
                            <td>
                                <img src="/gn_images/gn_icon_{{base.os}}.png" alt="">
                                <a href="#">{{base.os}}</a>
                            </td>
                            <td>{{base.os_ver}}{{base.os_subver}}</td>
                            <td>{{base.os_bit}}</td>
                            <td>{{base.type}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!--class="table-responsive"-->
            </div> <!--id="image" class="tab-pane fade in active"-->

            <!--가상머신 > 스냅샷-->
            <!--인스턴스 선택-->
            <div id="snap" class="">
                <!--1.스냅샷 선택 박스-->
                <div class="gn-box gn-container">
                    <div class="gn-margin-box">
                        <div class="row gn-margin-bott10">
                            <div class="col-sm-4">
                                <select class="gn-select form-control gn-form-control" ng-model="guest_image" ng-options="list.name for list in list" ng-change="update_image(guest_image)">
                                    <option value="">인스턴스 선택</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control gn-form-control" ng-model="data.name" placeholder="스냅샷 이름">
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" value="submit" class="btn btn-gn-sub btn-block" ng-click="submit()">스냅샷 생성</button>
                            </div>
                        </div>
                        <div class="gn-lead">
                            스냅샷은 정지된 인스턴스만 가능합니다.<br>
                            인스턴스를 정지 시키려면 <strong>인스턴스 목록 혹은, 정지시키실 인스턴스의 상세 페이지</strong>에서 적용하 실 수 있습니다.
                        </div>
                    </div>
                </div> <!--class="" 1.스냅샷 선택 박스-->

                <!--2.스냅샷 목록 박스-->
                <div class="gn-box gn-container">
                    <!--컨테이너 tab-->
                    <div class="table-responsive gn-table-responsive gn-margin-box">
                        <h2>목록</h2>
                        <table class="table table-striped gn-table">
                            <thead>
                            <tr>
                                <th class="col-sm-4">이름</th>
                                <th class="col-sm-2">OS</th>
                                <th class="col-sm-2">타입</th>
                                <th class="col-sm-1">생성일<div class="refresh"></div></th>
                                <th class="col-sm-1"><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody class="gn-tdody">
                            <tr ng-repeat="snap in snap_list">
                                <td>
                                    <img src="/gn_images/gn_icon_{{snap.os}}.png" alt="ubuntu">
                                    <a href="#">{{snap.name}}</a>
                                </td>
                                <td>{{snap.os}}{{snap.os_ver}}</td>
                                <td>{{snap.type}}</td>
                                <td>{{snap.create_time_diff}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li ng-repeat="sel in actions"><a ng-click="update(snap.id,sel,snap.type,$index)">{{sel.name}}</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!--컨테이너 목록 class="table-responsive"-->
                </div> <!--class="" 2.스냅샷 목록 박스-->
            </div> <!--스냅샷-->
        </div>  <!--class="tab-content"-->
    </div> <!--id="image" class="tab-pane fade in active"-->


    <!--탭메뉴2 : 컨테이너-->
    <div id="container">
        <!--컨테이너 tab-->
        <div class="gn-table-responsive gn-margin-box">
            <h2>목록</h2>
            <table class="table table-striped gn-table">
                <thead>
                <tr>
                    <th style="width:30%">OS</th>
                    <th style="width:20%">버전</th>
                    <th style="width:20%">태그</th>
                </tr>
                </thead>
                <tbody class="gn-tdody">
                <tr ng-repeat="con in contain_list">
                    <td>
                        <img src="/gn_images/gn_icon_{{con.name}}.png" alt="postgres">
                        <a href="#">{{con.name}}</a>
                    </td>
                    <td>{{con.os_ver}}</td>
                    <td><span class="tag">{{con.tag}}</span></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div> <!--컨테이너 목록 class="table-responsive"-->
    </div> <!--스냅샷-->
</div> <!--가상머신 class="tab-content clearfix"-->
