<h1>설정</h1>


<!--왼쪽 메뉴-->
<navme></navme>

        
    <!--SSH 키 관리-->
    <div id="key-sett" class="tab-pane col-xs-12 col-sm-10">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>SSH Keys</h2>
                    <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#modi">등록</button>
    
                    <!-- SSH Modal -->
                    <div class="modal fade" id="modi" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                                    <h4 class="modal-title">SSH 키 등록</h4>
                                </div>
                                <div class="modal-body gn-modal-body">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <input type="text" class="form-control gn-form-control" ng-model="data.name" id="sshkey_name" placeholder="key 입력">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" ng-click="sshkey_save()" data-dismiss="modal">생성</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--class="container-fluid" -->
    
                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table gn-table">
                            <thead>
                            <tr>
                                <th class="col-sm-10">이름</th>
                                <th class="col-sm-2"></th>
                            </tr>
                            </thead>
                            <tbody class="gn-tdody">
                            <tr ng-repeat="data in data_list">
                                <td class="second-td-name"><span class="gn-table-ellip">{{data.name}}</span></td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        <div class="gn-more">더보기</div>
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a ng-click="download(data.id)">키 내려받기</a></li>
                                        <li><a class="gn-danger" ng-click="sshkey_delete(data.id,$index,data.name)">삭제</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div> <!--class="table-responsiv"-->
                </div>
            </div>
        </div>
    </div> <!--id="key-sett" class="tab-pane fade"-->
