<div class="container">

    <h1>인스턴스</h1>
    <h2>인스턴스 목록</h2>

      <div class="table-responsive gn-table-responsive">
        <table class="table table-striped gn-table">
            <thead>
                <tr>
                    <th class="col-sm-3">이름</th>
                    <th class="col-sm-3">사양</th>
                    <th class="col-sm-1">타입</th>
                    <th class="col-sm-2">IP</th>
                    <th class="col-sm-1">생성일
                        <div class="refresh" ng-click="refresh()"></div>
                    </th>
                    <th class="col-sm-1">태그</th>
                    <th class="col-sm-1"><!--더보기--></th>
                </tr>
            </thead>
            <tbody class="gn-tdody">
            <tr ng-repeat="list in guest_list">
                <td>
                    <img ng-show="list.status != 'Starting' && list.status != 'Deleting' && list.status == 'Running' || list.status=='Reboot'" src="/gn_images/gn_dot_play.png" alt="">
                    <img ng-show="list.status != 'Starting' && list.status != 'Deleting' && list.status == 'Suspend'" src="/gn_images/gn_dot_doing.png" alt="">
                    <img ng-show="list.status != 'Starting' && list.status != 'Deleting' && list.status == 'Stop'" src="/gn_images/gn_dot_stop.png" alt="">

                    <img ng-show="list.status != 'Starting' && list.status != 'Deleting'" src="/gn_images/gn_icon_{{list.os}}.png" alt="">

                    <img ng-show="list.status == 'Starting' || list.status == 'Deleting'" src="/gn_images/status-working-28.gif" alt="">

                    <a href="#/guestDetail?id={{list.id}}"> {{ list.name }} </a>
                </td>
                <td>{{ list.cpu }} CPU /{{ list.memory }} Memory/{{ list.disk }} Disk</td>
                <td>{{ list.type }}</td>
                <td>{{ list.ip }}</td>
                <td><span data-toggle="tooltip" title="{{list.create_time}}" tooltip>{{list.create_time_diff}}</span></td>
                <td >{{list.tagFirst}}
                    <span ng-show="list.tag.length > 0" class="tag" data-toggle="tooltip" title="{{list.tag}}" tooltip>{{list.tagcount}}</span>
                </td>
                <td class="dropdown">
                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                        더보기
                        <span class="gn-caret-table"></span>
                    </div>
                    <!--더보기>드롭다운-->
                    <ul class="dropdown-menu gn-dropdown" role="menu" ng-show="list.status != 'starting'">
                        <li ng-repeat="test in actions">
                            <a href ng-click="update(list.id,test,list.type,$index)">{{test.name}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
      </div>        

</div> <!-- /container -->