<h1>설정</h1>
<navleft></navleft>
<!--시스템 > 과금-->
<div id="invoice" class="tab-pane col-xs-12 col-sm-10">
    <div class="gn-box">
        <div class="gn-sett-margin-box">
            <div class="container-fluid">
                <h2>과금 조회</h2>

                <div class="table-responsive gn-table-responsive">
                    <table class="table gn-board-table">
                        <thead>
                        <tr>
                            <th class="">#</th>
                            <th class="">팀</th>
                            <th class="">과금월</th>
                            <th class=""></th>
                        </tr>
                        </thead>
                        <tbody class="gn-tdody">
                        <tr ng-repeat="price in pricelist">
                            <td>{{$index+1}}</td>
                            <td>{{price.gnTeam.team_name}}</td>
                            <td>{{price.year}}-{{price.month}}</td>
                            <td>
                                <button type="button" class="btn-default btn pull-right" data-toggle="modal" data-target="#priceModal" ng-click="price_list_info(price.year,price.month,price.team_code)">보기</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!--class="table-responsive table-reset"-->
            </div> <!--class="container-fluid"-->

            <div class="modal fade" id="priceModal" role="dialog">
                <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header gn-modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><span>{{price_invoice.year}}년 {{price_invoice.month}}월</span>&nbsp;계산서</h4>
                            <h4 class="modal-title">계산서</h4>
                            <hr>
                        </div>
                        <div class="modal-body gn-modal-body">
                            <form>
                                <div class="form-group">
                                    <h2>{{team_code.team_name}}</h2>
                                    <dl class="dl-horizontal gn-description-list">
                                        <dt>정산일</dt>
                                        <dd>{{price_invoice.calc_day}}</dd>
                                    </dl>
                                    <br>
                                    <div class="table-responsive gn-table-responsive">
                                        <table class="table gn-board-table">
                                            <thead>
                                            <tr>
                                                <th class="">인스턴스</th>
                                                <th class="">소유자</th>
                                                <th class="">사용량</th>
                                                <th class="">단위가격</th>
                                                <th class="">총액</th>
                                            </tr>
                                            </thead>
                                            <tbody class="gn-tdody">
                                            <tr class="" ng-repeat="pr in price_info">
                                                <td>{{pr.vm_name}}</td>
                                                <td>{{pr.author_name}}</td>
                                                <td>{{pr.used}}<span ng-show="pr.price_type == 'H'">/시간</span><span ng-show="pr.price_type == 'D'">/일</span></td>
                                                <td>&#65510;{{pr.unit_price}}<span ng-show="pr.price_type == 'H'">/시간</span><span ng-show="pr.price_type == 'D'">/일</span></td><!--&#65510; : 원 코드-->
                                                <td>{{pr.total_price}}&#50896;</td><!--&#50896; : 원(한글)코드-->
                                            </tr>

                                            <!--총계-->
                                            <tr class="">
                                                <td style="border-bottom:none"></td>
                                                <td style="border-bottom:none"></td>
                                                <td style="border-bottom:none"></td>
                                                <td style="padding-top:20px"><strong>총계</strong></td>
                                                <td style="padding-top:20px"><strong>{{price_invoice.team_price}}&#50896;</strong></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div> <!--class="table-responsive table-reset"-->
                                </div><!--class="table-responsive gn-table-responsive"-->
                            </form>

                            <br>
                            <br>

                        </div><!--class="modal-body gn-modal-body"-->
                    </div> <!--class="modal-content"-->
                </div> <!--class="modal-dialog modal-sm"-->
            </div>
            <!--이전/다음 버튼-->
            <div class="gn-page-btn">
                <input type="button" class="btn btn-default"  style="" ng-click="page(prev_page)" value="이전" ng-show="page_hist != 1">
                <input type="button" class="btn btn-default" style="" ng-click="page(next_page)" value="다음" ng-show="page_total!=page_hist">
            </div>

        </div><!--class="gn-sett-margin-box"-->
    </div><!--class="gn-box"-->
</div><!--id="price" class="tab-pane fade" -->




