<h1>설정</h1>

<!--왼쪽 메뉴-->
<ul class="nav nav-pills gn-left-menu col-xs-2">
    <li class="left-title gn-top">시스템</li>
    <li><a data-toggle="pill" ng-click="click('profile-system')">프로필</a></li>
    <li><a data-toggle="pill" ng-click="click('team-sett')">팀 관리</a></li>
    <li><a data-toggle="pill" ng-click="click('cluster-sett')">클러스터 관리</a></li>
    <li><a data-toggle="pill" ng-click="click('image-sett')">이미지 관리</a></li>
</ul>

<!--오른쪽 메뉴-->
<div class="tab-content col-xs-10">
    <!--시스템 > 프로필-->
    <div id="profile-system"  class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h1>지앤 클라우드 프라이빗</h1>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label gn-control-label">날짜</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">2016.12.27</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">저작권</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">&copy;&nbsp;COPYRIGHT&nbsp;&nbsp;지앤클라우드
                                    &nbsp;&nbsp;ALL&nbsp;&nbsp;RIGHT&nbsp;&nbsp;RESERVED.</p>
                            </div>
                            <label class="col-sm-2 control-label gn-control-label">홈페이지</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <a href="http://www.gnclouds.com" class="gn-url">www.gnclouds.com</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

    <!--시스템 > 팀 관리-->
    <div id="team-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>팀 관리</h2>

                    <!--팀 관리 목록-->
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th>팀명</th>
                                <th>팀 코드</th>
                                <th>팀장</th>
                                <th>팀원</th>
                                <th>생성일<div class="refresh" ng-click="refresh('table')"></div></th>
                                <th class="">CPU</th>
                                <th class="">MEMORY</th>
                                <th class="">DISK</th>
                                <th><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="select in table">
                                <td>{{select.team_name}}</td>
                                <td>{{select.team_code}}</td>
                                <td>{{select.owner_name}}
                                    <br>
                                    <span>{{select.owner_id}}</span>
                                </td>
                                <td>

                                    <div>
                                        <div>
                                            <span>{{select.usersfirst}}
                                            <br>
                                            {{select.usersfirstid}}
                                                <span class="tag" data-toggle="tooltip" title="{{select.users}}" tooltip>{{select.userslen}}</span>
                                            </span>

                                        </div>
                                    </div>
                                </td>
                                <td><span data-toggle="tooltip" title="{{select.create_date}}" tooltip>{{select.create_time_diff}}</span></td>
                                <td>{{select.cpu_use_per}}%사용중<br>{{select.cpu_use_cnt}}/{{select.cpu_tot_cnt}}CORE</td>
                                <td>{{select.mem_use_per}}%사용중<br>{{select.mem_use_cnt}}/{{select.mem_tot_cnt}}</td>
                                <td>{{select.disk_use_per}}%사용중<br>{{select.disk_use_cnt}}/{{select.disk_tot_cnt}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기<span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a href="#/guestTeamDetail?code={{select.team_code}}">상세보기</a></li>
                                    </ul>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade" 팀 > 리소스-->

    <!--시스템 > 클러스터 관리-->
    <div id="cluster-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>클러스터 관리</h2>
                    <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#cluster">등록</button>

                    <!-- 클러스터 Modal -->
                    <div class="modal fade" id="cluster" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">클러스터 등록</h4>
                                </div>

                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">타입</label>
                                            <div class="col-sm-9">
                                                <label class="radio-inline mod-input-name">
                                                    <input type="radio" name="optradio">Hyper-V
                                                </label>
                                                <label class="radio-inline mod-input-name">
                                                    <input type="radio" name="optradio">KVM
                                                </label>
                                                <label class="radio-inline mod-input-name">
                                                    <input type="radio" name="optradio">Docker
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">엔드 포인트</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputtext" placeholder="192.168.0.30:9090">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputtext" class="col-sm-3 control-label gn-control-label">노드</label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" id="inputtext" placeholder="192.168.0.100">
                                            </div>
                                            <div class="col-sm-2 btn-sm2">
                                                <button type="submit" class="btn btn-gn-sub btn-block">추가</button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div> <!--class="modal-body"-->

                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>  <!--class="modal fade" id="cluster"     -->
                </div>


                <div class="container-fluid">
                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th class="col-sm-2">타입</th>
                                <th class="col-sm-3">엔드 포인트</th>
                                <th class="col-sm-3">노드</th>
                                <th class="col-sm-2">생성일<div class="refresh"></div></th>
                                <th class="col-sm-2"><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >KVM</td>
                                <td >192.168.0.30:9090</td>
                                <td >
                                    <span>192.168.0.30</span>
                                    <span>192.168.0.30</span>
                                    <span>192.168.0.30</span>
                                    <span>192.168.0.30</span>
                                </td>
                                <td >1일전</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기<span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a href="#">수정</a></li>
                                        <li><a href="#">삭제</a></li>
                                    </ul>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div> <!--class="table-responsive table-reset"-->
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

    <!--시스템 > 이미지 관리-->
    <div id="image-sett" class="">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>이미지 관리</h2>

                    <ul class="nav nav-tabs gn-nav-tabs">
                        <li class="active"><a data-toggle="tab" class="" ng-click="imageset('machine')">가상머신</a></li>
                        <li><a data-toggle="tab" class="" ng-click="imageset('container')">컨테이너</a></li>
                    </ul> <!-- class="nav nav-tabs"-->

                    <!--시스템 > 이미지 관리 > 가상머신/컨테이너-->
                    <div class="tab-content">

                        <!--탭메뉴1 : 가상머신 -->
                        <div id="machine" class="">
                            <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#image">등록</button>

                            <!-- 이미지 Modal -->
                            <div class="modal-sett modal fade" id="image" role="dialog">
                                <div class="modal-dialog form-horizontal">
                                    <div class="modal-content">
                                        <div class="modal-header gn-modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">이미지 등록</h4>
                                        </div>

                                        <div class="modal-body gn-modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">아이콘</label>
                                                    <div class="col-sm-10">
                                                        <!--초기 이미지 등록 박스-->
                                                        <div class="img-icon-sett filebox">
                                                            <label class="hov-img-txt" for="img-file">이미지 등록</label>
                                                            <input type="file" id="img-file">
                                                        </div>
                                                        <!--이미지 등록 후 변경,삭제해야 할 때 드롭박스-->
                                                        <div class="drop-img" data-toggle="dropdown" role="button" aria-expanded="false">&nabla;</div>
                                                        <!--더보기>드롭다운-->
                                                        <ul class="dropdown-img-icon" role="menu">
                                                            <li><a href="#">이미지 변경</a></li>
                                                            <li><a href="#">이미지 삭제</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label gn-control-label">타입</label>
                                                    <div class="col-sm-10">
                                                        <label class="radio-inline mod-input-name">
                                                            <input type="radio" name="optradio">Hyper-V
                                                        </label>
                                                        <label class="radio-inline mod-input-name">
                                                            <input type="radio" name="optradio">KVM
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">OS</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control gn-form-control" id="inputtext" placeholder="windows">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">버전</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control gn-form-control" id="inputtext" placeholder="10">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">BIT</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control gn-form-control" id="inputtext" placeholder="64">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">PATH</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control gn-form-control" id="inputtext" placeholder="/data/gn_images/windows/windows_10_pro_x86.vhdx">
                                                    </div>
                                                    <div class="col-sm-2 btn-sm2">
                                                        <button type="file" class="btn btn-gn-sub btn-block">업로드</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!--class="modal-body"-->

                                        <div class="modal-footer gn-modal-footer">
                                            <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal">저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container-fluid">
                                <div class="table-responsive gn-table-responsive">
                                    <table class="table table gn-table gn-top">
                                        <thead>
                                        <tr>
                                            <th>OS</th>
                                            <th>버전</th>
                                            <th>BIT</th>
                                            <th>타입</th>
                                            <th>PATH</th>
                                            <th>생성일<div class="refresh" ng-click="refresh('image')"></div></th>
                                            <th><!--더보기--></th>
                                        </tr>
                                        </thead>
                                        <tbody class="gn-tdody">
                                        <tr ng-repeat="path in paths">
                                            <td>
                                                <img src="/gn_images/gn_icon_{{path.os}}.png" alt="">

                                            {{path.os}}
                                            </td>
                                            <td>{{path.os}}{{path.os_ver}}</td>
                                            <td>{{path.os_bit}}</td>
                                            <td>{{path.type}}</td>
                                            <td>{{path.image_path}}</td>
                                            <td>{{path.create_time_diff}}</td>
                                            <td class="dropdown">
                                                <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    더보기<span class="gn-caret-table"></span>
                                                </div>
                                                <!--더보기>드롭다운-->
                                                <ul class="dropdown-menu gn-dropdown" role="menu">
                                                    <li><a href="#">수정</a></li>
                                                    <li><a href="#">삭제</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> <!--class="table-responsive table-reset"-->
                            </div>

                        </div> <!--id="image" class="tab-pane fade in active"-->


                        <!--시스템 > 이미지 관리 > 탭메뉴2 : 컨테이너-->
                        <div id="container" class="">
                            <button type="button" class="btn btn-gn-sub col-sm-1 gn-sett-btn" data-toggle="modal" data-target="#img-cont">등록</button>

                            <!-- 이미지 Modal -->
                            <div class="modal-sett modal fade" id="img-cont" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header gn-modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">이미지 등록</h4>
                                              <span class="gn-lead">
                                                  도커 이미지 정보는 <a href="" class="link-color">http://hub.docker.com/explore/</a>에서 확인 가능 합니다.
                                                  특히, EXPOSEPORT 를 확인하여야 도커 컨테이너와 부모 시스템 간에 맵핑을 할 수 있습니다.
                                                  HA Proxy에 세팅을 할 때, 부모 시스템의 빈 포트 중 랜덤하게 연결 할 수 있습니다.
                                              </span>
                                        </div>

                                        <div class="modal-body gn-modal-body">

                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">아이콘</label>
                                                    <div class="col-sm-10">
                                                        <!--초기 이미지 등록 박스-->
                                                        <div class="img-icon-sett filebox">
                                                            <label class="hov-img-txt" for="img-file">이미지 등록</label>
                                                            <input type="file" id="img-file">
                                                        </div>
                                                        <!--이미지 등록 후 변경,삭제해야 할 때 드롭박스-->
                                                        <div class="drop-img" data-toggle="dropdown" role="button" aria-expanded="false">&nabla;</div>
                                                        <!--더보기>드롭다운-->
                                                        <ul class="dropdown-img-icon" role="menu">
                                                            <li><a href="#">이미지 변경</a></li>
                                                            <li><a href="#">이미지 삭제</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">이름</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputtext" placeholder="postgres">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">버전</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputtext" placeholder="16.04.1">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">태그</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputtext" placeholder="태그와 태그는 쉼표로 구분 됩니다.">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">포트</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="2" placeholder="오픈할 포트를 쉼표로 구분하여 넣어주세요"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">환경변수</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="2" placeholder="환경변수와 볼륨은 한줄에 하나씩 넣어주세요"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label" >볼륨</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="2" placeholder="볼륨을 한 줄에 하나씩 넣어주세요"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputtext" class="col-sm-2 control-label gn-control-label">설명</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </form>
                                        </div> <!--class="modal-body"-->



                                        <div class="modal-footer gn-modal-footer">
                                            <button type="submit" class="btn btn-gn-sub btn-block" data-dismiss="modal">저장</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container-fluid">
                                <div class="table-responsive gn-table-responsive">
                                    <table class="table table gn-table gn-top">
                                        <thead>
                                        <tr>
                                            <th class="col-sm-3">이름</th>
                                            <th class="col-sm-2">버전</th>
                                            <th class="col-sm-2">태그</th>
                                            <th class="col-sm-2">생성일<div class="refresh" ng-click="refresh('contain')"></div></th>
                                            <th class="col-sm-1"><!--더보기--></th>
                                        </tr>
                                        </thead>
                                        <tbody class="gn-tdody">
                                        <tr ng-repeat="contain in contain_list">
                                            <td>
                                                <img src="/gn_images/gn_icon_{{contain.os}}.png" alt="">
                                                {{contain.view_name}}
                                            </td>
                                            <td>{{contain.os_ver}}</td>
                                            <td>{{contain.tag}}</td>
                                            <td>{{contain.create_time_diff}}</td>
                                            <td class="dropdown">
                                                <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                                    더보기<span class="gn-caret-table"></span>
                                                </div>
                                                <!--더보기>드롭다운-->
                                                <ul class="dropdown-menu gn-dropdown" role="menu">
                                                    <li><a href="#">수정</a></li>
                                                    <li><a href="#">삭제</a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div> <!--class="table-responsive table-reset"-->
                            </div>

                        </div> <!--스냅샷-->
                    </div>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="image-sett"  class="tab-pane fade"-->
</div> <!--class="tab-content right-box fl" -->




