<h1>이미지</h1>
<ul class="nav nav-tabs gn-nav-tabs">
    <li class="active"><a data-toggle="tab" class="" ng-click="snap('mac')">가상머신</a></li>
    <li><a data-toggle="tab" class="" ng-click="snap('container')">컨테이너</a></li>
</ul> <!-- class="nav nav-tabs"-->
<!--가상머신/컨테이너-->
<div class="tab-content">
    <!--탭메뉴1 : 가상머신 -->
    <div id="machine" class="">
        <!--가상머신 tab-->
        <ul id="tab" class="nav small-tabs">
            <li class="active"><a href="" data-toggle="tab" class="tab-sm-box" ng-click="snap('image')">이미지</a></li>
            <li><a href="" data-toggle="tab" class="tab-sm-box" ng-click="snap('snap')">스냅샷</a></li>
        </ul> <!-- class="nav nav-tabs"-->

        <div class="tab-content">
            <!--가상머신 > 이미지 -->
            <div id="image" class="gn-box">
                <div class="table-responsive gn-table-responsive gn-margin-box">
                    <h2>목록</h2>
                    <table class="table table gn-table">
                        <thead>
                        <tr>
                            <th class="col-xs-3">OS</th>
                            <th class="col-sm-2">버전</th>
                            <th class="col-sm-2 hidden-xs">Bit</th>
                            <th class="col-sm-2 hidden-xs">타입</th>
                        </tr>
                        </thead>
                        <tbody class="gn-tdody">
                        <tr ng-repeat="base in base_list">
                            <td>
                                <img src="/gn_images/gn_icon_{{base.os}}.png" alt="">
                                {{base.os}}
                            </td>
                            <td>{{base.os_ver}}{{base.os_subver}}</td>
                            <td class="hidden-xs">{{base.os_bit}}</td>
                            <td class="hidden-xs">{{base.type}}</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!--class="table-responsive"-->
            </div> <!--id="image" class="tab-pane fade in active"-->

            <!--가상머신 > 스냅샷-->
            <!--인스턴스 선택-->
            <div id="snap" class="">
                <!--1.스냅샷 선택 박스-->
                <div class="gn-box gn-container">
                    <div class="gn-margin-box">
                        <h2>스냅샷 생성</h2>
                        <div class="row">
                            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                            <div class="col-sm-4 gn-margin-bott10">
                                <select class="gn-select form-control gn-form-control" ng-model="guest_image" ng-options="list.name for list in list" ng-change="update_image(guest_image)">
                                    <option value="">인스턴스 선택</option>
                                </select>
                            </div>
                            <div class="col-sm-4 gn-margin-bott10" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                                <input type="text" class="form-control gn-form-control"name="name" ng-model="data.vm_name" placeholder="스냅샷 이름" required>
                                <p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">이름을 입력해 주세요</p>
                            </div>
                            <div class="col-sm-2 gn-margin-bott10">
                                <button type="submit" value="submit" class="btn btn-gn-sub btn-block" ng-click="submit()" ng-disabled="userForm.$invalid">스냅샷 생성</button>
                            </div>
                            </form>
                        </div>
                        <div class="gn-lead">
                            스냅샷은 인스턴스 목록에 있는 인스턴스만 가능합니다.<br>
                            <strong>인스턴스 목록 혹은, 인스턴스의 상세 페이지</strong>를 확인해주세요.
                        </div>
                    </div>
                </div> <!--class="" 1.스냅샷 선택 박스-->

                <!--2.스냅샷 목록 박스-->
                <div class="gn-box gn-container">
                    <!--컨테이너 tab-->
                    <div class="table-responsive gn-table-responsive gn-margin-box">
                        <h2>목록</h2>
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th></th>
                                <th class="">이름</th>
                                <th class="col-sm-2 hidden-xs">OS</th>
                                <th class="col-sm-2 hidden-sm hidden-xs">타입</th>
                                <th class="hidden-xs" ng-show="user_info.authority == 'sysowner'" >팀</th>
                                <th class="col-sm-1 hidden-sm hidden-xs">생성일<div class="refresh" ng-click="refresh()"></div></th>
                                <th class="col-sm-1"><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody class="gn-tdody">
                            <tr ng-repeat="snap in snap_list" ng-class="{'tr-on-error':snap.status =='Error'}">
                                <td><img ng-show="snap.status == 'Starting' || snap.status == 'Deleting'" src="/gn_images/status-working-28.gif" alt="">
                                    <img ng-show="snap.status != 'Starting' && snap.status != 'Deleting' && snap.status == 'Error'" src="/gn_images/gn_dot_error.png" alt="">
                                    <img ng-show="list.status != 'Error'" src="/gn_images/gn_icon_{{snap.os}}.png" alt="">
                                </td>
                                <td class="gn-ms-cursor" data-toggle="modal" data-target="#teamModal" ng-click="snap_list_info(snap.id)">
                                    <a>{{snap.name}}</a>
                                </td>
                                <td class="hidden-xs">{{snap.os}}{{snap.os_ver}}{{snap.os_subver}}</td>
                                
                                <td class="hidden-sm hidden-xs">{{snap.type}}</td>
                                <td class="hidden-md hidden-sm hidden-xs" ng-show="user_info.authority == 'sysowner'" >{{ snap.gnTeam.team_name }}</td>
                                <td class="hidden-sm hidden-xs">{{snap.create_time_diff}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기
                                        <div class="gn-more"></div>
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown gn-list" role="menu">
                                        <li ng-repeat="sel in actions"><a ng-click="update(snap.id,sel,snap.type,$parent.$index)">{{sel.name}}</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal fade" id="teamModal" role="dialog">
                            <div class="modal-backdrop fade in" style="height: 3000px;"></div>
                            <div class="modal-dialog form-horizontal">
                                <div class="modal-content col-sm-10 col-sm-offset-1">
                                    <div class="modal-header gn-modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">스냅샷 상세 정보</h4>
                                    </div>
                                    <div class="modal-body gn-modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label gn-control-label">이름</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.name}}</p>
                                                </div>
                                                <!--<label class="col-sm-4 control-label gn-control-label">파일 이름</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.filename}}</p>
                                                </div>-->
                                                <label class="col-sm-4 control-label gn-control-label">OS</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.os}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">BIT</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.os_bit}}</p>
                                                </div>
                                                <!--<label class="col-sm-4 control-label gn-control-label">SSH_ID</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.ssh_id}}</p>
                                                </div>-->
                                                <label class="col-sm-4 control-label gn-control-label">생성자</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.user_name}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">생성일</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{snapshot.create_time}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">버전 정보</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">
                                                        <span ng-repeat="item in parent_history">{{parent_history.length - $index}}.
                                                            <strong ng-show="parent_history.length == $index+1">{{item}}</strong>
                                                            <span ng-if="parent_history.length != $index+1">{{item}}</span>
                                                            <br/>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div> <!--class="modal-content"-->
                            </div> <!--class="modal-dialog modal-sm"-->
                        </div>
                    </div> <!--컨테이너 목록 class="table-responsive"-->
                </div> <!--class="" 2.스냅샷 목록 박스-->
            </div> <!--스냅샷-->
        </div>  <!--class="tab-content"-->
    </div> <!--id="image" class="tab-pane fade in active"-->


    <!--탭메뉴2 : 컨테이너-->
    <div id="container">
        <!--컨테이너 tab-->
        <div class="gn-table-responsive gn-margin-box">
            <h2>목록</h2>
            <table class="table table gn-table">
                <thead>
                <tr>
                    <th class="col-xs-8 col-sm-4">OS</th>
                    <th class="col-sm-3">버전</th>
                    <th class="col-sm-4 hidden-xs">태그</th>
                    <th class="col-sm-1 hidden-xs"></th>
                </tr>
                </thead>
                <tbody class="gn-tdody">
                <tr ng-repeat="con in contain_list">
                    <td>
                        <img src="/gn_images/gn_icon_{{con.os}}.png" alt="postgres">
                        <a>{{con.view_name}}</a>
                    </td>
                    <td>{{con.os_ver}}</td>
                    <td class="hidden-xs">{{con.tagFirst}}<span ng-show="con.tag.length > 1" data-toggle="tooltip" title="{{con.tag}}" tooltip><span class="tag">{{con.tagcount}}</span></span></td>
                    <td class="hidden-xs"></td>
                </tr>
                </tbody>
            </table>
        </div> <!--컨테이너 목록 class="table-responsive"-->
    </div> <!--스냅샷-->
</div> <!--가상머신 class="tab-content clearfix"-->
