<h1>설정</h1>
<!--왼쪽 메뉴-->
<navleft></navleft>

<div class="tab-content col-xs-12 col-sm-10">
    <!--팀 > 프로필-->
    <div id="profile-team" class="">
        <div class="gn-box gn-container">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">
                    <h2>{{teamname.team_name}}</h2>
                    <button type="button" class="btn btn-gn-sub gn-sett-btn" data-toggle="modal" data-target="#modal-modi" ng-click="profile()">수정</button>

                    <!-- 팀 Modal -->
                    <div class="modal fade" id="modal-modi" role="dialog">
                        <div class="modal-dialog form-horizontal">
                            <div class="modal-content col-sm-10 col-sm-offset-1">
                                <div class="modal-header gn-modal-header">
                                    <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                                    <h4 class="modal-title">팀 수정</h4>
                                </div>
                                <div class="modal-body gn-modal-body">

                                    <form class="form-horizontal" id="userForm" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">팀 코드</label>
                                            <div class="col-sm-9">
                                                <p class="form-control-static">{{teamname.team_code}}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label gn-control-label">팀명</label>
                                            <div class="col-sm-9" ng-class="{ 'has-error' : userForm.team_name.$invalid && !userForm.team_name.$pristine }">
                                                <input type="text" class="form-control gn-form-control" id="team_name" name="team_name" ng-model="data.team_name" ng-value="teamname.team_name" ng-pattern="/^[가-힣0-9]+$/" ng-keyup="keyup()">
                                                <p ng-show="userForm.team_name.$invalid && !userForm.team_name.$pristine" class="help-block">한글과 숫자만 사용할수 있습니다.</p>
                                            </div>
                                        </div>
                                        
                                        <!--추가-->
                                        <hr>
                                        <dl class="dl-horizontal gn-description-list sett-detail">
                                          <dt>CPU</dt>
                                          <dd>{{total.cpu_per}}%</dd>
                                          <div class="clearfix" ng-class="{ 'has-error' : userForm.cpu.$invalid && !userForm.cpu.$pristine }">
                                              <span>사용중</span>
                                              <span class="sett-detail-span">{{total.cpu_use_cnt}} / </span>
                                              <input type="text" ng-model="data.cpu" id="cpu" name="cpu" class="form-control gn-form-control" ng-value="total.cpu_total_cnt">
                                              <p ng-show="userForm.cpu.$invalid && !userForm.cpu.$pristine" class="help-block">입력해주세요.</p>
                                          </div>  
                                          
                                          <dt>MEMORY</dt>
                                          <dd>{{total.mem_per}}%</dd>
                                          <div class="clearfix" ng-class="{ 'has-error' : userForm.mem.$invalid && !userForm.mem.$pristine }">
                                              <span>사용중</span>
                                              <span class="sett-detail-span">{{total.mem_use_cnt}} / </span>
                                              <input type="text" ng-model="data.mem" id="mem" name="mem" class="form-control gn-form-control" ng-value="total.mem_total_cnt">
                                              <p ng-show="userForm.mem.$invalid && !userForm.mem.$pristine" class="help-block">입력해주세요.</p>
                                          </div>                                                                                  
                                          <dt>DISK</dt>
                                          <dd>{{total.disk_per}}%</dd>
                                          <div class="clearfix" ng-class="{ 'has-error' : userForm.disk.$invalid && !userForm.disk.$pristine }">
                                              <span>사용중</span>
                                              <span class="sett-detail-span">{{total.disk_use_cnt}} / </span>
                                              <input type="text" ng-model="data.disk" id="disk" name="disk" class="form-control gn-form-control" ng-value="total.disk_total_cnt">
                                              <p ng-show="userForm.disk.$invalid && !userForm.disk.$pristine" class="help-block">입력해주세요.</p>
                                          </div>
                                        </dl>                                         
                                        
                                    </form>

                                </div>
                                <div class="modal-footer gn-modal-footer">
                                    <button type="submit" class="btn btn-gn-sub btn-block" ng-click="change()" data-dismiss="modal" ng-disabled="userForm.$invalid">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--<div class="container-fluid">-->

                <div class="container-fluid" >
                    <form class="form-horizontal">
                        <dl class="dl-horizontal gn-description-list">
                            <dt>팀 코드</dt>
                            <dd>{{teamname.team_code}}</dd>
                            <dt>관리자</dt>
                            <dd ng-repeat="team in team_list">{{team.user_id}}</dd>
                            <dt>팀 생성일</dt>
                            <dd>{{teamname.create_date}}</dd>
                            <dt>총원</dt>
                            <dd>{{team_list.total}}명</dd>
                        </dl>
                    </form>
                </div>

            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->
    
    <!--팀 그래프-->
    <div id="team-reso" class="gn-container">
        <div class="gn-box">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">

                    <!--팀 그래프-->
                    <div class="row">
                        <ul class="col-sm-4 gn-sett-graph">
                            <li>CPU</li>
                            <li><canvas id="cpu_chart" height="150"></canvas></li>
                            <li class="cpu-color"><span id="cpu_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="cpu_use_cnt"></span> / <span id="cpu_total_cnt"></span> CORE</li>
                        </ul>
                        <ul class="col-sm-4 gn-sett-graph">
                            <li>MEMORY</li>
                            <li><canvas id="memory_chart" height="150"></canvas></li>
                            <li class="memo-color"><span id="mem_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="mem_use_cnt"></span> / <span id="mem_total_cnt"></span></li>
                        </ul>

                        <ul class="col-sm-4 gn-sett-graph">
                            <li>DISK</li>
                            <li><canvas id="disk_chart" height="150"></canvas></li>
                            <li class="disk-color"><span id="disk_per"></span>% 사용중</li>
                            <li class="sett-txt-graph"><span id="disk_use_cnt"></span> / <span id="disk_total_cnt"></span></li>
                        </ul>
                    </div><!-- class="team-graph clearfix" -->
                </div> <!--<div class="container-fluid">-->
            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade" 팀 > 리소스-->

    <!--팀 > 팀원-->
    <div id="team-group" class="">
        <div class="gn-box gn-container">
            <div class="gn-sett-margin-box">
                <div class="container-fluid">

                    <div class="table-responsive gn-table-responsive">
                        <table class="table table gn-table">
                            <thead>
                            <tr>
                                <th class="hidden-xs">번호</th>
                                <th class="hidden-xs">등급</th>
                                <th >이름</th>
                                <th >아이디</th>
                                <th class="hidden-xs">상태</th>
                                <th><!--더보기--></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="won in won_list" ng-class="{'tr-on-wait': won.team_check == 'N'}">
                                <td class="hidden-xs">{{$index+1}}</td>
                                <td class="hidden-xs">{{won.team_owner}}</td>
                                <td class="gn-ms-cursor" data-toggle="modal" data-target="#teamModal" ng-click="infolist(won.user_id);"><span class="gn-table-ellip">{{won.user_name}}</span></td>
                                <td class="" ng-model="data.user_id"><span class="gn-table-ellip">{{won.user_id}}</span></td>
                                <!--<td class="">{{won.tel}}</td>-->
                                <!--<td class="">{{won.email}}</td>-->
                                <!--<td class=""><p data-toggle="tooltip" title="{{won.apply_date}}" tooltip>{{won.create_time_diff}}</p></td>-->
                                <!--<td class=""><p data-toggle="tooltip" title="{{won.approve_date}}" tooltip>{{won.create_time_diff1}}</p></td>-->
                                <!--------------------------여기서부터 팀장 로그인 시 보이는 영역--------------------------------->
                                <td class="hidden-xs">{{won.comf}}</td>
                                <td class="dropdown">
                                    <div class="dropdown-toggle user" data-toggle="dropdown" role="button" aria-expanded="false">
                                        더보기
                                        <span class="gn-caret-table"></span>
                                    </div>
                                    <!--더보기>드롭다운-->
                                    <ul class="dropdown-menu gn-dropdown" role="menu">
                                        <li><a ng-disabled="won.team_check == 'Y'" class="btn" ng-click="update(won.user_id, teamname.team_code, 'approve', won.user_name,won.team_owner)" >승인</a></li>
                                        <li><a class="btn" ng-click="update(won.user_id, teamname.team_code, 'change', won.user_name,won.team_owner)">등급변경</a></li>
                                        <li><a class="btn" ng-click="update(won.user_id, teamname.team_code, 'reset', won.user_name,won.team_owner)">비밀번호초기화</a></li>
                                        <li><a class="btn gn-danger" ng-click="update(won.user_id, teamname.team_code, 'dropout', won.user_name,won.team_owner)">탈퇴</a></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal fade" id="teamModal" role="dialog">
                            <div class="modal-dialog form-horizontal">
                                <div class="modal-content col-sm-10 col-sm-offset-1">
                                    <div class="modal-header gn-modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">팀원 상세 정보</h4>
                                    </div>
                                    <div class="modal-body gn-modal-body">
                                        <form>
                                            <div class="form-group" ng-repeat="team in teamwon_list">
                                                <label class="col-sm-4 control-label gn-control-label">등급</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.team_owner}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">이름</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.user_name}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">아이디</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.user_id}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">연락처</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.tel}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">이메일</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.email}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">상태</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.confirm}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">신청일</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.apply_date}}</p>
                                                </div>
                                                <label class="col-sm-4 control-label gn-control-label">승인일</label>
                                                <div class="col-sm-8">
                                                    <p class="form-control-static">{{team.approve_date}}</p>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                    </div>
                                </div> <!--class="modal-content"-->
                            </div> <!--class="modal-dialog modal-sm"-->
                        </div>
                    </div> <!--class="table-responsiv"-->
                </div>
            </div> <!--class="gn-sett-margin-box"-->
        </div> <!--class="gn-box-->
    
        <div class="gn-box">
            <div class="gn-margin-box">
                <h2>삭제</h2>
                <p class="gn-lead">해당 팀 및 관련된 모든 팀원들이 삭제되며, 모든 데이터는 복구할 수 없습니다.<br>정말 삭제 하시겠습니까?</p>
                <button type="button" class="btn btn-delete btn-lg" data-toggle="modal" data-target="#modal-modi2">삭제</button>
            </div>
        </div><!--class="gn-box-->
    </div><!--id="team-group" 팀원-->
    
    <!-- modal -->
    <div class="modal fade" id="modal-modi2" role="dialog">
        <div class="modal-dialog form-horizontal">
            <div class="modal-content col-sm-10 col-sm-offset-1">
                <div class="modal-header gn-modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">팀 삭제</h4>
                </div>
                <div class="modal-body gn-modal-body">
                <p>해당 팀 및 관련된 모든 팀원들이 삭제되며 모든 데이터는 복구할 수 없습니다.<br> 그래도 삭제 하시겠습니까 ? </p>

                </div>
                <div class="modal-footer gn-modal-footer">
                    <button type="submit" class="btn btn-delete btn-block" data-dismiss="modal" ng-click="delete()">삭제</button>
                </div>
            </div>
        </div>
    </div><!--모달--> 
       
</div><!--class="tab-content-->