/*지앤클라우드 프라이빗 인스턴스 스타일시트*/
/*나눔바른고딕 폰트*/
@import url(nanumbarungothic.css);
body{margin: 0; padding: 0; border: 0; overflow-y: scroll font-family: 'Nanum Barun Gothic', sans-serif;}

/*commend*/
h1{margin: 0; margin-bottom: 55px; line-height: 1;}
h2{margin: 0; margin-bottom: 20px; line-height: 1;}
h3{margin: 0; line-height: 1;}
h4{margin: 0; line-height: 1;} 
h5{margin: 0; line-height: 1;}
h6{margin: 0; line-height: 1;}

img{border: 0;}
*:focus {
     outline: none !important;
}
a:hover,
a:focus {
  outline: 0;
  outline: 0 -webkit-focus-ring-color;
  outline-offset: 0;
    text-decoration: none;
    color: #505050;
}

.nav-tabs > li > a {
    border: none;
}

.fl{float: left;}
.fr{float: right;}
.cl{clear: left;}
.cr{clear: right;}
.cnt{text-align: center;}
.border-box{
    border-radius: 3px;
    border: 2px solid rgba(215,215,215,.5);
}
.marg-bot100{
    margin-bottom: 100px;
}


::selection{
    background: #58c4c6;
    color: #ffffff;
}

ul,
ol {
    padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
li{list-style: none;}

/* ---HEADER 영역---*/
.navbar-default {
    background-color: #ffffff;
}

a.navbar-brand{
    display: block;
    margin-top: 17px;
}
a.navbar-brand img{
    width:209px; 
    height: 39px; 
}

.navbar-nav{
    text-align: center;
}

.nav>li>a {
    /*position: relative;*/
    display: block;
    padding: 10px 0px;
}

.navbar-nav li.h4-menu{
    width: 65px;
	height: 35px;
    text-align: center;
    margin-left: 85px;
    margin-top: 40px;
}

/*.navbar-nav li.menu2{
    width: 65px;
	height: 35px;
    text-align: center;
    margin-left: 72px;
    margin-top: 40px;
}

.navbar-nav li.menu3{
	width: 49px;
	height: 35px;
    text-align: center;
    margin-left: 72px;
    margin-top: 40px;
}*/

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
}


.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover{
    color: #58c4c6;
    background-color: transparent;
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;    
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: #555;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #58c4c6;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    text-decoration: none;
    background-color: #ffffff;
}

ul li.h4-menu a{
    display: block;
    text-decoration: none;
}

.h4-menu a:hover{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #58c4c6;
}

.click{
    color: #58c4c6 !important; 
    cursor: pointer;
    font-weight: normal;   
}

/*.click:hover{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #58c4c6; 
    cursor: pointer;
    font-weight: normal;
}*/


/*HEADER 오른쪽*/
/*인스턴스 생성 버튼*/
.navbar-right li.create-btn{
    margin-top: 20px;    
}

button.creat-instance{ 
    width: 190px;
	height: 46px;
}

button.creat-instance-big{ 
    width: 100%;
	height: 80px;
    margin-bottom: 100px;
}

.table-responsive {
    padding-bottom: 100px;
    height: auto;
    /*overflow-x: auto;
    overflow-y: hidden;*/
    overflow-x: visible;
    overflow-y: visible;
}


/*인스턴스 생성페이지 SSH 키 생성 버튼 클래스*/

.checkbox+.checkbox, .radio+.radio {
    margin-top: 10px;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*최초 등록 시 출력되는 버튼*/
.ssh-key{
    width: 135px;
    height: 37px;
}

/*등록 후 출력되는 버튼 : 리눅스의 경우*/
.ssh-key-modi{
    width: 135px;
    height: 37px;
    display: none;
}

.ssh-create-key{
    width: 100%;
    height: 37px;
}

/*윈도우의 경우*/
.form-password{
    width: 100%;
    padding-top:  30px;
    
}

.form-password > .form-password-name{
    display: block;    
    color: #7d7d7d;
    padding: 7px 0;
    margin-right: 10px;
    font-size: 16px;
}

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}

.dropdown-menu {
    position: absolute;
    top: 105%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #505050;
    background-color: transparent;
    
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.dropdown-menu > li > a{
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #6f6f6f;
    white-space: nowrap;
}

.dropdown-menu > li:nth-child(1){
    border-bottom: 1px solid #cccccc;
}

.dropdown-menu > li:nth-child(2){
    border-bottom: 1px solid #cccccc;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #58c4c6;
  text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.dropdown-menu-table > li > a:hover, .dropdown-menu-table > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.open > .dropdown-menu {
  display: block;
    /*overflow: visible;*/
}

.dropdown-menu-table {
    position: absolute;
    top: 65%;
    right: 5px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    /*overflow: visible;*/
}

.dropdown-menu-table > li > a{
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #6f6f6f;
    white-space: nowrap;
}

.dropdown-menu-table > li > a:hover,
.dropdown-menu-table > li > a:focus {
  color: #58c4c6;
  text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    height: 70px;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 2px solid rgba(215,215,215,.5);
    /*text-align: center;*/
}

.caret {
    background: url(../gn_images/dd_arrow.png) no-repeat;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  float: right;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  vertical-align: middle;
    border: none;
/*
  border-top: 5px solid #00afb4;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
*/
}

.user-arrow{
   margin-top: 49px;
    cursor: pointer;
}

.user{
    float: left;
    display: block;
    cursor: pointer;
    margin-left: 43px;
    width: 60px;
	height: 35px;
    margin-top: 52px;
}

.td-first img{
    margin-right: 10px
}

.tag{
    padding: 2px;
    background-color: rgba(238,238,238,50);
    color: #58c4c6;
    border-radius: 3px;
}

.tab-title{
    font-size: 16px;
    color: #6f6f6f;
    padding: 5px 5px 5px 0px; 
    display: block;
}

li.active > .tab-title{
    font-size: 16px;
    color: #58c4c6;
}

div.size-info{
    margin:  auto;
    text-align: center;
    width: 100px;
    padding: 5px;
}
div.size-info3{
    margin:  auto;
    text-align: center;
    width: 100px;
    padding: 5px;
}

div.border-bottom{
    width: 50px;
    margin: auto;
    border-bottom: 1px solid rgba(215,215,215,.5);
}
.btn-default:hover div.border-bottom,
.type-box:hover div.border-bottom{
    width: 50px;
    margin: auto;
    border-bottom: 1px solid rgba(88,196,198,.2);
}

.type-box:hover,
.type-box:active,
.type-box:focus,
.type-box.active{
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
}

/*btn*/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

/* ========== 지앤클라우드 생성 버튼 'default' ========== */
.btn-default {
  color: #7d7d7d;
  background-color: #fff;
  border: 2px solid rgba(215,215,215,.5);
}

.type-box{
    width: 135px;
    height: 135px; 
    margin: 0px 10px 10px 0px; 
}

.dropdown-toggle{
    cursor: pointer;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: rgb(0,175,180);
  background-color: rgba(247,252,252,.5);
  border: 2px solid rgba(88,196,198, .5);
  color: #7d7d7d;
  background-color: rgba(215,215,215,.2);
  border: 2px solid rgba(215,215,215,.5);    
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
    
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  color: #00afb4;
  background-color: rgba(247,252,252,.5);
  border-color: #58c4c6;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/* ========== 지앤클라우드 서브 버튼 'primary' ========== */
.btn-primary {
  color: #7d7d7d;
    font-size: 14px;
    font-weight: normal;
  background-color: rgba(215,215,215,.5);
/*  border-color: #2e6da4;*/
}



.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #6f6f6f;
  background-color: rgba(215,215,215,1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;    
    
  border-color: rgba(215,215,215,1);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #15cd72;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #00a252;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #15cd72;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}

.type-box div.img-box{
    background: url(../gn_images/instance_create_windows-s.png)no-repeat;
    display: block;
    clear: left;
    width: 54px;
    height: 55px;
    margin: 5px auto;
    overflow: hidden;
}

/*인스턴스 생성페이지 > 버튼 클릭했을 때 */

/*라디오 버튼 안보이게*/
input.inp-box{
    display: none;
}

.buttons{overflow:hidden;}

/*.buttons > label{
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
    
    display:block; 
    float:left; 
    width:135px; 
    height:135px; 
    text-align:center; 
    box-sizing:border-box; 
    border: 2px solid rgba(215,215,215,.5); 
    border-radius: 3px;
    background-color: #ffffff; 
    color: #6f6f6f;
    width: 135px;
    height: 135px;
    margin: 0px 10px 10px 0px; 
    
}*/

.buttons > label.label-box{
  padding: 12px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
    
    display:block; 
    float:left; 
    width:135px; 
    height:135px; 
    text-align:center; 
    box-sizing:border-box; 
    border: 2px solid rgba(215,215,215,.5); 
    border-radius: 3px;
    background-color: #ffffff; 
    color: #6f6f6f;
    width: 135px;
    height: 135px;
    margin: 0px 10px 10px 0px; 
    
}

.buttons > label > img.img-icon{
    margin-top: 10px;
}

.buttons > label:hover{
  color: #7d7d7d;
  background-color: rgba(215,215,215,.2);
  border: 2px solid rgba(215,215,215,.5);      
}


input:nth-of-type(1):checked~ .buttons >label:nth-of-type(1){
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
    border-radius: 3px;
}
input:nth-of-type(2):checked~ .buttons >label:nth-of-type(2){
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
    border-radius: 3px;
}
input:nth-of-type(3):checked~ .btn:nth-of-type(3),
input:nth-of-type(3):checked~ .buttons >label:nth-of-type(3){
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
    border-radius: 3px;
}
input:nth-of-type(4):checked~ .btn:nth-of-type(4),
input:nth-of-type(4):checked~ .buttons >label:nth-of-type(4){
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
    border-radius: 3px;
}
input:nth-of-type(5):checked~ .btn:nth-of-type(5),
input:nth-of-type(5):checked~ .buttons >label:nth-of-type(5){
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);
    border-radius: 3px;
}

.create-tab{
    width: 100%;
    
}

/*인스턴스 생성페이지 > 스냅샷 */
div.snap-box{
    width: 100%;
    height: 90px;
}

.snap-name{
    width: 32.9%;
}

.snap-name:hover{
    border: 2px solid rgba(88,196,198,.5);
    background-color: rgba(88,196,198,.1);
    color: rgba(88,196,198,1);   
}

.snap-name:nth-child(1){
    margin-right: .5%;
    margin-bottom: 10px;
}
.snap-name:nth-child(2){
    margin-right: .5%;
    margin-bottom: 10px;
}
.snap-name:nth-child(3){
    margin-bottom: 10px;
}
.snap-name:nth-child(4){
    margin-right: .5%;
    margin-bottom: 10px;
}
.snap-name:nth-child(5){
    margin-right: .5%;
    margin-bottom: 10px;
}
.snap-name:nth-child(6){
    margin-bottom: 10px;
}
button.snap-name:nth-child(7){
    margin-right: .5%;
    margin-bottom: 10px;
}
.snap-name:nth-child(8){
    margin-right: .5%;
    margin-bottom: 10px;
}
button.snap-name:nth-child(9){
    margin-bottom: 10px;
}
.snap-name:nth-child(10){
    margin-right: .5%;
    margin-bottom: 10px;
}

p.ellipsis{   
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

img.elli-img-icon{
    margin-right: 10px;
    
}

/*----*/

input.input-ssh-name{
    height: 37px;
    width: 100%;
    font-size: 16px;
    font-weight: 200;
    padding-left: 10px;
}
th{
    font-size: 16px;
    color: #6f6f6f;        
}

td.td-style{
    font-size: 14px;
    color: #6f6f6f;
}

td.td-style > a{
    font-size: 14px;
    color: #6f6f6f;
    text-decoration: none;
}

td.td-style > p{
    font-size: 14px;
    color: #6f6f6f;
    margin: 0;
}

span.windows-small{
    margin: auto;
    font-size: 0.6em;
    font-weight: normal;
    display: block;
    width: 90px;
    clear: left;
    white-space: normal;
}

img.img-icon{
    display: block;
    margin: auto;
    margin-bottom: 5px;
    
}

/*tooltip*/

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;    
  max-width: 200px;
  max-height: 50px;
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6f6f6f;
  border-radius: 3px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #6f6f6f;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #6f6f6f;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}


/*========== 인스턴스 상세페이지 STYLE ==========*/

/*상단 title 영역*/
.title{
    margin-bottom: 10px;
}

div.detail-icon{
    width: 37px;
    height: 38px;
    margin-right: 10px;
}

h1.h1_regular{
    margin-bottom: 0px;
    color: #505050;
    font-weight: normal;
    font-size: 30px;    
}

span.detail-h1-name{
    line-height: 45px;
    cursor: pointer;
}

ul.li-style > li{
    list-style: none;
    float: left;
} 

div.detail-spec{
    /*width: 100%;*/
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;    
}

.spec-group{
    margin-left: 40px;
}

div.detail-spec>ul>li{
    font-size: 20px;
    font-weight: 300;
    color:#979797;
}

div.detail-tag{
    /*width: 100%;*/
    display: inline-block;
    margin-left: 10px; 

}

img.tag-pencil{
    margin: 5px 10px 0px 42px;
    cursor: pointer;
}

ul.tag-group>li{
    font-size: 20px;
    font-weight: 300;
    color : #58c4c6;
    background-color: rgba(238,238,238,.5);
    border-radius: 3px; 
    padding: 3px;
    margin: 0px 5px;
}

/*main-contents 영역*/
div.row{
    margin-left: 0;
    margin-right: 0;
}
div.detail-main{
    margin-bottom: 53px;
}

div.detail-cpu{
    width: 94%;
    margin: auto;
    margin-top: 70px;
   margin-bottom: 100px; 
}

.cpu-graph{
    width: 80%;    
}
.cpu-graph img{
    width: 100%;    
} /*추후 이미지 대신 그래프로 교체되면 img대신 지정할 것*/

div.detail-memory{
    width: 94%;
    margin: auto;    
    margin-bottom: 100px;
}

.memory-graph{
    width: 80%;    
}

.memory-graph img{
    width: 100%;    
} /*추후 이미지 대신 그래프로 교체되면 img대신 지정할 것*/

div.detail-disk{
    width: 94%;
    margin: auto;    
    margin-bottom: 70px;
}

/*DISK 막대 그래프*/
div.disk-right-box{
    width: 80%; 
}

.disk-graph{
    width: 100%;
    height: 50px;
}

.marg-bot10{
    display: inline-block;
    margin-bottom: 10px;    
}

.progress{
    margin-bottom: 10px;
}
.progress-bar{
    background-color: #58c4c6;
    text-align: left;
    padding-left: 10px;
}

.progress-bar{
    line-height: 50px;
    font-size: 24px;
}

.detail-use-box{
    margin-right: 50px;
    line-height: 20px;
}

.use-box-sm{
    width: 20px;
    height: 20px;
    background-color: #58c4c6;
    border-radius: 3px;
    margin-right: 10px;
}

.detail-empty-box{
    line-height: 20px;   
}

.empty-box-sm{
    width: 20px;
    height: 20px;
    background-color: #cccccc;
    border-radius: 3px;
    margin-right: 10px;
}

/*삭제 버튼 영역*/
div.detail-delete{
    margin-bottom: 100px;
}

.delete-box{
    width: 94%;
    margin: auto;
    margin-top: 50px;
   margin-bottom: 50px;     
}

/*삭제버튼*/
.h4-txt{
    margin-bottom: 20px;
    font-weight: 200;
    color: #7d7d7d;
    line-height: 1.5;
}

.btn-link{
    width: 250px;
    height: 46px;
    background-color: #ffffff;
    color: #E60202;
    border: 1px solid #E60202;
    border-radius: 3px; 
}

.btn-link:hover,
.btn-link:active{
    width: 250px;
    height: 46px;
    background-color: rgba(230,2,2,.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;    
    color: #E60202;
    border: 1px solid #E60202;
    border-radius: 3px; 
    text-decoration: none;
}

.btn-link:focus{
    text-decoration: none;
    background-color: #ffffff;
    color: #E60202;
    border: 1px solid #E60202;
    border-radius: 3px; 
}





/*========== 인스턴스 이미지 STYLE ==========*/

/*h2 tab*/
li.active > a h2.h2-image-tab{
    color: #58c4c6;
}
.h2-image-tab{
    margin-bottom: 15px;
}

/*h2 tab > box tab*/
.small-tabs{
    margin: 29px 0;       
}

a.tab-sm-box{
    width: 150px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #6f6f6f;
    padding: 5px; 
    display: block;
}

a.tab-sm-box:hover{
    color: #505050;
}

li.active > .tab-sm-box{
    font-size: 16px;
    color: #ffffff;
    background-color: #58c4c6 !important; 
    border: 1px solid #58c4c6 !important;
}


/*이미지 > 가상머신 > 이미지*/
li.active > .tab-title{
    font-size: 16px;
    color: #58c4c6;
}

/*이미지 > 가상머신 > 스냅샷*/
.snap-sel{
    margin-bottom: 30px;    
}


.form-control{
    width: 280px;
    margin-right: 20px;
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    background-image: visible;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea.form-control{
    width: 100%;
    margin-right: 20px;
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    background-image: visible;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 280px;
    margin-right: 20px;
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: url(../gn_images/select_arrow.png) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
    
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

.snap-key{
    height: 34px;
    width: 135px;

}

/*이미지 > 컨테이너 > 목록*/

.marg-top29{
    margin-top: 29px;    
}

/*container width box*/
.cont-box{
    margin: 30px auto;
    width: 94%;
}


.refresh{ 

    cursor: pointer;
display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: none;
}



/* ========== 개인설정 > 일반 사용자 > 프로필 =========== */
.left-menu{
    width : 15%;
    /*border: 1px solid #aadd34;*/
}

.left-menu > li.left-title{
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #505050;  
    margin-bottom: 10px;
}

.left-menu > li.left-name{
    width: 100%;
}

.left-menu > li.left-name > a{
    display: block;
    font-size: 20px; 
    color: #6f6f6f;
    background-color: transparent;
    padding: 0;
}

.left-menu > li.left-name > a:hover,
.left-menu > li.left-name > a:focus{
    color: #58c4c6;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;    
}

.left-menu > li.active > a{
    color: #58c4c6;
}

/*컨테이너 오른쪽 박스 영역*/
.right-box{
    width : 85%;
    /*border: 1px solid #aadd34;*/    
}

/*컨테이너 오른쪽 박스 공통*/
.sett-title{
    width: 10%;
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 600; 
    padding: 2px 0;
}

.sett-txt-mid{
    /*width: 30%;*/
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 0;
    margin-right: 30px;
}

.sett-txt{
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 300;
    padding: 2px 0;
}

.team-master{
    margin: 0px 10px;
}

.team-master:nth-child(1){
    margin-left: 0px;
}

/*모달창*/
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}

.modal {
    position: fixed;
    top: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-sett {
    position: fixed;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    /* overflow: hidden; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal-sm {
    width: 400px;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: none;
}

.modal-header .close {
  margin-top: -2px;
}

.cont-box-modal{
    margin: 5px auto 20px auto;
    width: 90%; 
    
}

.modal-title{
    
}

.cont-box-modal > ul{
    margin-bottom: 0;
}

.sett-title-modal{
    width: 30%;
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400; 
    padding: 4px 0;
}
.sett-txt-modal{
    /*width: 30%;*/
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 300;
    padding: 4px 0;
}

div.modal-line{
    width: 100%;
}

div.mod-txt{
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400; 
    height: 47px;
    line-height: 47px;
    margin-right: 10px;
}

input.input-mod-name{
    height: 37px;
    width: 60%;
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-right: 10px;
    margin: 5px 0;
    float: right;
}

input.input-mod-name-ep{
    height: 37px;
    width: 77.7%;
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-right: 10px;
    margin: 5px 0;
    float: right;
}

.input-mod-btn{
    height: 37px;
    width: 15%;
    font-size: 15px;
    font-weight:400;
    margin: 5px 0;
    float: right; 
    margin-left: 10px;
}

a.btn-modal-delete:hover{
    color: #E60202 !important;  
    font-weight: 600;
}



/*프로필 개인 사용자 정보*/
#profile > .profile-user{
    margin-bottom: 20px;
}



/*프로필 팀 정보*/
#profile > .profile-team{
    
}

.team-ul{
    margin-bottom: 70px;
}

.ul-sett-left{
    width: 100%;
}

ul-sett-right{
        
}

/*table-responsive에 들어간 padding-bottom : 100 px reset*/
.table-reset{
    padding-bottom: 20px;
}

.td-more{
    text-align: right;
}

div.team-graph{
    width: 100%;
    height: auto;
}

ul.team-graph-cpu{
    width: 33%;
    height: auto;
}

ul.team-graph-mem{
    width: 33%;
    height: 100px;
}

ul.team-graph-dis{
    width: 33%;
    height: auto;  
}

/*그래프*/
.sett-title-graph{
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 600; 
    padding: 2px 0;
    text-align: center;
    display: block;
}

/*팀 > 프로필 > 그래프 이미지 -> 차트.js로 교체*/
.team-graph-box{
    text-align: center;
    display: block; 
    margin: 15px auto;
}

.sett-txt-mid-graph{
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 400;
    padding: 2px 0;
    text-align: center;
    display: block;
}

.sett-txt-graph{
    color: #6f6f6f;
    font-size: 16px;
    font-weight: 300;
    padding: 2px 0;
    text-align: center;
    display: block;    
}

.cpu-per{
   color: #FFA716; 
}

.mem-per{
    color: #53C8AD;
}

.dis-per{
    color: #57A1F6;
}

.mac-per{
    color: #E27560;
}

.hyp-per{
    color: #3B5C91;
}

/*목록에서 나(you)일 때 bg-color*/
.tr-on-me{
    background-color: rgba(170,225,226,.2);
}

/*목록에서 가입 대기 중일때 bg-color*/
.tr-on-wait{
    background-color: rgba(245,166,35,.1) !important;
}


/*시스템 관리자*/
.table > thead > tr > th {
    height: 30px;
    vertical-align: middle;
    border-top: none;
    text-align: center;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}

.th-team-sett-tit{
    background-color: rgba(215,215,215,.2);
}

.name-tag-box{
    display: inline-block;
}

.team-name-box{
    text-align: center;
    vertical-align: middle;
    text-align: inherit;
}

.tag-box{
    vertical-align: middle;
}

.tag-box span{
    display: block;
    margin-left: 5px;
}

/*클러스터 모달창 이름 스타일*/
.label-box{
    float: right;
}

.label-box label{
    margin: 0px 17px;
}

.mod-input-name{
    font-size: 15px;
}

select.form-control-clus{
    width: 286px;
    margin-right: 0px;
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    background-image: visible;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 6px;
    background-image: none;
}

.td-node{
    display: inline-block;
    width: 100%;
}

/*시스템 > 이미지 관리*/
.pos-rel{
    position: relative;
}

.btn-img-position{
    position: absolute;
    top: 0;
    right: 0;
}

.modal-img-inp {
    width: 500px;
}

.img-mod-name{
    height: 37px;
    width: 68%;
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-right: 10px;
    margin: 5px 0;
    float: right;
}

.img-mod-txt{
    height: 37px;
    width: 85.1%;
    font-size: 15px;
    font-weight: 200;
    padding-left: 10px;
    margin-right: 10px;
    margin: 5px 0;
    float: right;
    border:  1px solid #cccccc;
    border-radius: 3px;
}

.img-label-box{
    width: 85.1%;
    height: 37px;
}

.mod-img-name{
    font-size: 15px;
    margin-top: 15px !important;
}

.img-icon{
    border-radius: 3px;
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border: 2px solid rgba(215,215,215,.5);
    background-color: #ffffff;
}

.img-icon:hover{
    border: 3px solid rgba(88, 196, 198, 0.68);
    background-color: rgba(100,100,100,.5);
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    box-sizing: border-box;
}

.hov-img-txt{
    opacity: 0;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: 30% auto;
}

.img-icon:hover .hov-img-txt{
    opacity: 1;
    color: #505050;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;    
}

.open > .dropdown-img-icon-cont,
.open > .dropdown-img-icon {
    display: block;
}

.dropdown-img-icon{
    position: absolute;
    top: 22%;
    left: 175px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    /* overflow: visible; */    
}

.dropdown-img-icon-cont{
    position: absolute;
    top: 25%;
    left: 175px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    /* overflow: visible; */    
}

.dropdown-img-icon-cont > li > a,
.dropdown-img-icon > li > a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #6f6f6f;
    white-space: nowrap;
}


.dropdown-img-icon-cont > li > a:hover, .dropdown-img-icon-cont > li > a:focus,
.dropdown-img-icon > li > a:hover, .dropdown-img-icon > li > a:focus {
    color: #58c4c6;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.form-control-img{
    width: 286px;
    margin-right: 0px;
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    background-image: visible;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 6px;
    background-image: none;
}

.txtarea-img{
    height: 50px;
}

/*h2 tab - 시스템 관리자 > 이미지 관리*/
li.active > a h2.h2-image-tab-system{
    color: #58c4c6;
    font-size: 18px;
}
.h2-image-tab-system{
    margin-bottom: 15px;
    font-size: 18px;
}













/*로그인페이지*/
.log-h2{
    font-size: 20px;
    font-weight: 400;
    color: #6f6f6f;
}

div.log-body-white{
    background-color: #ffffff;
}

div.log-body-gray{
    background-color: #f6f6f6;
}

.container{
    /*border: 1px solid #ff4567;*/
}

.log{
    height: 100%;
    text-align: center;
}

/*지앤클라우드 프라이빗 로고 h1*/
.logo-a{
    display: block;
    text-align: center;
    margin-top: 177px;
    margin-bottom: 59px;
}

h1.log-logo{
    display: none;
};

.logo-a>img{
    margin: auto;
    display: block;
    width: 134px;
    height: 140px;
}

/*로그인박스*/
.login-box{
    width: 238px;
    margin: auto;
    margin-bottom: 100px;
}

.inp-login{
    width: 100%;
    height: 40px;
    display: block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 200;
    line-height: 1.42857143;
    color: #7d7d7d;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

label.label-id{
    margin-bottom: 10px;

}


.check-id{
    font-weight: nomal;
}

/* 지앤클라우드 체크박스 스타일*/
.btn-id{
    position:relative; 
    margin-top:10px; 
    text-align:left; 
    cursor:pointer; 
    overflow:hidden;

}
.btn-id input.form-inputPop {
    position:absolute; 
    top:0; 
    left:0; 
    opacity:0; 
    cursor:pointer; 
    z-index:5;
}

.btn-id i {
    float:left; 
    display:block;
    width:18px; 
    height:18px; 
    background:url(../gn_images/checkbox_arrow.png)no-repeat left top;
    z-index:3;
}

.btn-id label {float:left; margin-left:10px; cursor:pointer; font-size:12px; font-weight: 400; color: #7d7d7d;}
.btn-id input.form-inputPop:checked+i {background-position:left bottom;}
.btn-id input.form-inputPop:checked+i+label {color:#58c4c6;}


/*에러 문구 : 로그인에러 났을 때*/
.error-message{
    width: 100%;
    height: 20px;
    float:left; 
    /*margin-left:10px;*/
    font-size:12px; 
    text-align: left;
    font-weight: 400; 
    color: #E60202;
   /* margin-top: 10px; 
    margin-bottom: 10px;*/
}

.log-join-btn{
    width: 100%;
    height: 20px;
    float:left; 
    font-size:12px; 
    text-align: center;
    font-weight: 400; 
    color: #58c4c6;
    margin-top: 10px;
    
}

a.log-join-btn:hover,
a.log-join-btn:focus{
    outline: 0;
    outline: 0 -webkit-focus-ring-color;
    outline-offset: 0;
    text-decoration: none;
    color: #00afb4;
}


/*지앤클라우드 로그인버튼 <btn-info> STYLE*/
.btn-info {
  color: #fff;
  background-color: #58c4c6;
  border-color: #58c4c6;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #58c4c6;
  border-color: #58c4c6;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #58c4c6;
  border-color: #58c4c6;
}
.btn-info .badge {
  color: #58c4c6;
  background-color: #fff;
}

.btn-info:hover, 
.btn-info:focus, 
.btn-info.focus, 
.btn-info:active, 
.btn-info.active, 
.open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #00afb4;
    border-color: #00afb4;
}


.footer-log{
    color: #bbbbbb;
    font-weight: 300;
}


/*로그인 초기 페이지*/

.log-begin-title{
    font-size: 50px;
    font-weight: 200;
    color: #7d7d7d;
    text-align-last: center;
    margin-top: 150px;
    margin-bottom: 95px;
}

.begin-box-title{
    font-weight: 200;
    font-size: 20px;
    color: #7d7d7d;
    display: inline-block;
}

.begin-box{
    width: 37%;
    margin: auto;
    margin-bottom: 100px;    
}

.begin-sel-box{
    margin: 10px 0;
    display: block;
}

.begin-team-name{
    height: 40px;
    line-height: 40px;
    width: 10%;
    color: #7d7d7d;
    font-size: 16px;
}

.begin-select{
    width: 53%;
    height: 40px;
    margin: 0;
}

.btn-begin{
    height: 40px;
    width: 33%; 
    color: #00AFB4;
    font-size: 16px;
}

.log-create-team{
    color: #58c4c6;
    font-weight: 400;
}

.log-create-team:hover{
    color: #00afb4;
    font-weight: 400;
}

.log-delete-team{
    color: #58c4c6;
    font-weight: 400;
}

.log-delete-team:hover{
    color: #00afb4;
    font-weight: 400;
}

.begin-apply-title{
    font-weight: 200;
    font-size: 20px;
    color: #7d7d7d;
    display: inline-block;
    margin: 5px 0;
}

.marg-20{
    margin-top: 20px;
}









/*대시보드 페이지*/
.container-body{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    /*border: 1px solid #ff4567;*/
}

.dashboard-box{
    width: 32%;
    margin: auto;
}

.dashboard-box:nth-child(1),
.dashboard-box:nth-child(2){
    margin-right: 2%;
}

h2.h2-bold{
    font-weight: 600;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

/*박스 왼쪽*/
.dd-left{
    width: 50%;
    border-right: 2px solid rgba(215,215,215,.5);
}

.dd-left img{
    width: 100%;
    max-width: 155px;
}

/*박스 오른쪽*/
.dd-right{
    width: 50%;
}

.dd-right-per{
    font-size: 50px;
    color: #6f6f6f;
    font-weight: 400;
    vertical-align: top;
}

.dd-right-use-txt{
    font-size: 24px;
    font-weight: 400;
    color: #6f6f6f;
    margin-bottom: 5%;
/*    border-bottom: 1px solid rgba(215,215,215,.5); */
}

.dd-right-reso{
    font-size: 20px;
    font-weight: 400;
    color: #6f6f6f; 
    vertical-align: bottom;
}

/*가상머신 개수*/
.dd-sm-block{
    font-size: 16px;
    font-weight: 400;
    color: #6f6f6f;
    display: table;
    margin: auto;
}

.sm-block-pl{
    width: 16px;
    height: 16px;
    background-color: #FCCC70;
    border-radius: 3px;
    margin-right: 10px;
}

.sm-block-st{
    width: 16px;
    height: 16px;
    background-color: #e27560;
    border-radius: 3px;
    margin-right: 10px;
}

.sm-block-txt{
    margin-right: 10px;
}

/*하이퍼 바이저 종류*/
.dd-right-ul{
    margin-bottom: 20px;
}

.dd-right-tit{
    font-size: 24px;
    font-weight: 600;
}

.dd-right-info{
    font-size: 24px;
    font-weight: 400;
    color: #6f6f6f;
}



/*컨테이너 개수/총 사용자*/
/*박스 왼쪽*/

.dd-left-cont{
    width: 100%;   
}

.cont-ul{
position: relative;    
}

.dd-left-cont img{
    width: auto;
    max-height: 155px;
    margin: auto;
}

.use-txt-posi{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

/*대시보드 세번째 줄 cont-box styl - 표가 들어있는 칸 e*/
.cont-box-dash{
    margin: 30px auto;
    width: 85%;
}

.table-dash {
    padding-bottom: 0px;
    margin-bottom: 0px;
}













