/*지앤클라우드 프라이빗 인스턴스 스타일시트*/
.fl{float: left;}
.fr{float: right;}
.cnt{text-align: center;}
/* ---HEADER 영역---*/
a.navbar-brand{
    display: block;
    margin-top: 52px;
}
a.navbar-brand img{
    width:209px; 
    height: 39px; 
}

.navbar-nav{
    text-align: center;
}

.navbar-nav li.menu1{
    width: 65px;
	height: 20px;
    text-align: center;
    margin-left: 85px;
    margin-top: 72px;
}

.navbar-nav li.menu2{
    width: 65px;
	height: 20px;
    text-align: center;
    margin-left: 72px;
    margin-top: 72px;
}

.navbar-nav li.menu3{
	width: 49px;
	height: 20px;
    text-align: center;
    margin-left: 72px;
    margin-top: 72px;
}

ul li.menu1 a,
ul li.menu2 a,
ul li.menu3 a{
    display: block;
    text-decoration: none;
}

.menu1 a:hover{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #58c4c6;
}

/*HEADER 오른쪽*/
/*인스턴스 생성 버튼(btn btn-success클래스는 bootstrap.css에)*/
.navbar-right li.create-btn{
    margin-top: 45px;    
}
button.creat-instance{ 
    width: 190px;
	height: 46px;
}

.dropdown-top{
    padding-top: 55px
}


.user-arrow{
   margin-top: 10px;
    cursor: pointer;
}

.user{
    cursor: pointer;
    margin-left: 20px;
    width: 60px;
	height: 19px;
    padding: 5px
}

.td-first img{
    margin-right: 10px
}

.tag{
    padding: 2px;
    background-color: rgba(238,238,238,50);
    color: #58c4c6;
    border-radius: 3px;
}




















