<h2 class="sub-header">VM 인스턴스</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>타입</th>
            <th>상태</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="list in test_list">
            <td>{{ list.vm_id }}</td>
            <td>{{ list.vm_name }}</td>
            <td>{{ list.vm_type }}</td>
            <td>{{ list.status }}</td>
        <tr ng-repeat="list in run_list">
            <td>{{ list.status }}</td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
