<h1>설정</h1>
<!--왼쪽 메뉴-->
<ul class="nav nav-pills left-menu fl">
    <li class="left-title">개인</li>
    <li class="left-name active"><a data-toggle="pill" ng-click="click('profile')">프로필</a></li>
    <li class="left-name"><a data-toggle="pill" ng-click="click('key-sett')">키 관리</a></li>

    <li class="left-title marg-top29">팀</li>
    <li class="left-name"><a data-toggle="pill" ng-click="click('profile-team')">프로필</a></li>
    <li class="left-name"><a data-toggle="pill" ng-click="click('team-reso')">리소스</a></li>
    <li class="left-name"><a data-toggle="pill" ng-click="click('team-group')">팀원</a></li>
</ul>

<div class="tab-content right-box fl">
    <!--프로필-->
    <div id="profile" class="">
        <div class="border-box profile-user">
            <div class="cont-box">
                <h2>{{te_list.user_name}}

                    <!--수정버튼-->
                    <div class="clearfix fr">
                        <button type="button" class="btn btn-primary ssh-key fl" data-toggle="modal" data-target="#myModal">수정</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">프로필 수정</h4>
                                    </div>
                                    <div class="cont-box-modal">
                                        <ul>
                                            <li class="sett-title-modal fl">이름</li>
                                            <li class="sett-txt-modal">{{te_list.user_name}}</li>
                                            <li class="sett-title-modal fl">아이디</li>
                                            <li class="sett-txt-modal">{{te_list.user_id}}</li>
                                        </ul>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-line">
                                            <div class="mod-txt fl">현재 비밀번호</div><input type="password" class="input-mod-name" ng-model="data.password" placeholder="****" required />
                                        </div>
                                        <div class="modal-line">
                                            <div class="mod-txt fl">새 비밀번호</div>
                                            <input type="password" class="input-mod-name" ng-model="data.password_new"  placeholder="****" required />
                                        </div>
                                        <div class="modal-line">
                                            <div class="mod-txt fl">비밀번호 확인</div>
                                            <input type="password" class="input-mod-name" ng-model="data.password_ret"  placeholder="****" required />
                                        </div>
                                        <div class="modal-line">
                                            <div class="mod-txt fl">연락처</div>
                                            <input type="text" class="input-mod-name" ng-model="data.tel" placeholder="{{te_list.tel}}">
                                        </div>
                                        <div class="modal-line">
                                            <div class="mod-txt fl">이메일</div>
                                            <input type="text" class="input-mod-name" ng-model="data.email" placeholder="{{te_list.email}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary ssh-create-key marg-top29" data-dismiss="modal" ng-click="submit()">저장</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </h2>

                <ul >
                    <li class="sett-title fl">아이디</li>
                    <li class="sett-txt">{{te_list.user_id}}</li>
                    <li class="sett-title fl">연락처</li>
                    <li class="sett-txt">{{te_list.tel}}</li>
                    <li class="sett-title fl">이메일</li>
                    <li class="sett-txt">{{te_list.email}}</li>
                </ul>
            </div> <!--class="cont-box" 사용자 이름-->
        </div>  <!--class="border-box profile-user"-->

    </div> <!--id="profile" class="tab-pane fade in active"

<!--SSH 키 관리-->
    <div id="key-sett" class="">
        <div class="border-box">
            <div class="cont-box">
                <h2>SSH Keys</h2>

                <div class="table-responsive table-reset">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>이름</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in data_list">
                            <td class="td-style td-first">{{data.name}}</td>
                            <td class="td-style cnt dropdown td-more">
                                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    더보기
                                    <span class="caret" ></span>
                                </div>
                                <!--더보기>드롭다운-->
                                <ul class="dropdown-menu-table" role="menu">
                                    <!--<li class="dropdown-header">더보기</li> 삭제합니다-->
                                    <li><a ng-click="download(data.id)">키 내려받기</a></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!--class="table-responsive table-reset"-->

            </div>
        </div>
    </div> <!--id="key-sett" class="tab-pane fade"-->

    <!--팀 > 프로필-->
    <div id="profile-team"  class="">
        <div class="border-box profile-team">
            <div class="cont-box">
                <h2>{{team_list.team_name}}</h2>
                <!--팀 수정버튼-->
                <div class="clearfix fr">
                    <button type="button" class="btn btn-primary ssh-key fl" data-toggle="modal" data-target="#modal-modi">수정</button>
                    <!-- 팀 Modal -->
                    <div class="modal fade" id="modal-modi" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">팀 수정</h4>
                            </div>
                            <div class="modal-body">
                                <div class="modal-line">
                                    <div class="mod-txt fl">팀명</div><input type="text" class="input-mod-name" id="exampleInputPassword3" placeholder="연구 1팀">
                                </div>
                                <ul>
                                    <li class="sett-title-modal fl">팀 코드</li>
                                    <li class="sett-title-modal fl">develop</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary ssh-create-key" data-dismiss="modal">저장</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="team-ul">
                    <ul class="ul-sett-left">
                        <li class="sett-title fl">팀 코드</li>
                        <li class="sett-txt">{{team_list.team_code}}</li>
                        <li class="sett-title fl">팀장</li>
                        <li class="sett-txt">
                            <span class="team-master">{{team_list.author_id}}</span>|
                            <!--<span class="team-master">OOO</span>|-->
                            <span class="team-master">010-2233-4455</span>|
                            <span class="team-master">cs2014@naver.com</span></li>
                        <li class="sett-title fl">총원</li>
                        <li class="sett-txt"></li>
                        <li class="sett-title fl">팀 생성일</li>
                        <li class="sett-txt">{{team_list.create_date}}</li>
                    </ul>
                </div> <!--class="team-ul"-->

            </div> <!--class="cont-box"-->
        </div> <!--class="border-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->
    <div id="team-reso"  class="">
        <div class="border-box profile-team">
            <div class="cont-box">
                <h2>리소스</h2>

                <!--팀 그래프-->
                <div class="team-graph clearfix">
                    <ul class="team-graph-cpu fl">
                        <li class="sett-title-graph">CPU</li>
                        <li class="team-graph-box">
                            <img src="images/sett_team_cpu_graph.png" alt="cpu 정보">
                        </li>
                        <li class="sett-txt-mid-graph cpu-per">70% 사용중</li>
                        <li class="sett-txt-graph">35 / 50 CORE</li>
                    </ul>

                    <ul class="team-graph-mem fl">
                        <li class="sett-title-graph">MEMORY</li>
                        <li class="team-graph-box">
                            <img src="images/sett_team_mem_graph.png" alt="memory 정보">
                        </li>
                        <li class="sett-txt-mid-graph mem-per">50% 사용중</li>
                        <li class="sett-txt-graph">64 / 128 GB</li>
                    </ul>

                    <ul class="team-graph-dis fl">
                        <li class="sett-title-graph">DISK</li>
                        <li class="team-graph-box">
                            <img src="images/sett_team_dis_graph.png" alt="disk 정보">
                        </li>
                        <li class="sett-txt-mid-graph dis-per">20% 사용중</li>
                        <li class="sett-txt-graph">0.6 / 3 TB</li>
                    </ul>
                </div><!-- class="team-graph clearfix" -->

            </div> <!--class="cont-box"-->
        </div> <!--class="border-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade" 팀 > 리소스-->
    <!--팀 > 팀원-->
    <div id="team-group"  class="">
        <div class="border-box profile-team">
            <div class="cont-box">
                <h2>{{team_list.team_name}}</h2>

                <div class="table-responsive table-reset">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>등급<div class="refresh"></div></th>
                            <th>이름<div class="refresh"></div></th>
                            <th>아이디</th>
                            <th>연락처</th>
                            <th>이메일</th>
                            <th>신청일</th>
                            <th>승인일</th>
                            <!-----여기서부터 팀장 로그인 시 보이는 영역----->
                            <th>상태<div class="refresh"></div></th>
                            <th><!--더보기--></th>
                        </tr>
                        </thead>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="won in won_list">
                            <td class="td-style cnt">{{$index+1}}</td>
                            <td class="td-style cnt">{{won[1].team_owner}}</td>
                            <td class="td-style cnt">{{won[0].user_name}}</td>
                            <td class="td-style cnt" ng-model="data.user_id">{{won[0].user_id}}</td>
                            <td class="td-style cnt">{{won[0].tel}}</td>
                            <td class="td-style cnt">{{won[0].email}}</td>
                            <td class="td-style cnt">{{won[1].create_time_diff}}</td><p data-toggle="tooltip" title='{{won[1].apply_date}}'></p></td>
                            <td class="td-style cnt">{{won[1].create_time_diff1}}</td><p data-toggle="tooltip" title='{{won[1].approve_date}}'></p></td>
                            <!--------------------------여기서부터 팀장 로그인 시 보이는 영역--------------------------------->
                            <td class="td-style cnt">{{won[1].comf}}</td>
                            <td class="td-style cnt dropdown td-more">
                                <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    더보기
                                    <span class="caret" ></span>
                                </div>
                                <!--더보기>드롭다운-->
                                <ul class="dropdown-menu-table" role="menu">
                                    <!--<li class="dropdown-header">더보기</li> 삭제합니다-->
                                    <li ng-repeat="ac in actions"><a href ng-click="update(won[0].user_id, won[1].team_code, ac)">{{ac.name}}</a></li>

                                </ul>
                            </td>
                        </tr>
                        <!--<tr class="tr-on-me"> &lt;!&ndash;class="tr-on-me" 로그인 한 사람이 나일 때&ndash;&gt;-->
                            <!--<td class="td-style cnt">2</td>-->
                            <!--<td class="td-style cnt">팀원</td>-->
                            <!--<td class="td-style cnt">홍길동<br><span>(you)</span></td>-->
                            <!--<td class="td-style cnt">홍대리</td>-->
                            <!--<td class="td-style cnt">010-1234-5678</td>-->
                            <!--<td class="td-style cnt">1234@naver.com</td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">6일전</p></td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">6일전</p></td>-->
                            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;여기서부터 팀장 로그인 시 보이는 영역-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">-</p></td>-->
                            <!--<td class="td-style cnt">승인</td>-->
                            <!--<td class="td-style cnt dropdown td-more">-->
                                <!--<div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                    <!--더보기-->
                                    <!--<span class="caret" ></span>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;더보기>드롭다운&ndash;&gt;-->
                                <!--<ul class="dropdown-menu-table" role="menu">-->
                                    <!--<li><a href="#">승인</a></li>-->
                                    <!--<li><a href="#">등급 변경</a></li>-->
                                    <!--<li><a href="#">비밀번호 초기화</a></li>-->
                                    <!--<li><a href="#" class="btn-modal-delete">팀 탈퇴</a></li>-->
                                <!--</ul>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--<tr class="tr-on-wait"> &lt;!&ndash;class="tr-on-road" 대기상태인 경우&ndash;&gt;-->
                            <!--<td class="td-style cnt">1</td>-->
                            <!--<td class="td-style cnt">팀원</td>-->
                            <!--<td class="td-style cnt">김나리</td>-->
                            <!--<td class="td-style cnt">나리김</td>-->
                            <!--<td class="td-style cnt">010-9857-2222</td>-->
                            <!--<td class="td-style cnt">-</td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">오늘</p></td>-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">오늘</p></td>-->
                            <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;여기서부터 팀장 로그인 시 보이는 영역-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
                            <!--<td class="td-style cnt"><p data-toggle="tooltip" title="2016-11-29 13:45:11">-</p></td>-->
                            <!--<td class="td-style cnt">대기</td>-->
                            <!--<td class="td-style cnt dropdown td-more">-->
                                <!--<div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">-->
                                    <!--더보기-->
                                    <!--<span class="caret" ></span>-->
                                <!--</div>-->
                                <!--&lt;!&ndash;더보기>드롭다운&ndash;&gt;-->
                                <!--<ul class="dropdown-menu-table" role="menu">-->
                                    <!--&lt;!&ndash;<li class="dropdown-header">더보기</li> 삭제합니다&ndash;&gt;-->
                                    <!--<li><a href="#">승인</a></li>-->
                                    <!--<li><a href="#">등급 변경</a></li>-->
                                    <!--<li><a href="#">비밀번호 초기화</a></li>-->
                                    <!--<li><a href="#" class="btn-modal-delete">팀 탈퇴</a></li>-->
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                        <!--class="table-responsive table-reset"-->

            </div> <!--class="cont-box"-->
        </div> <!--class="border-box profile-team"-->
    </div> <!--id="profile-team"  class="tab-pane fade"-->

</div> <!--class="tab-content right-box fl" -->


